/* basic.css */

@media screen and (max-width:767px) {

  html, body {
    font-family: 'Noto Sans KR'; 
    color:#333;
    font-size: 1.0625rem; 
    font-weight: 400;
    overflow-x: hidden;
    width: 100%; height: auto;
  }
  
  #wrap {
    width: 100%; min-width:20rem; height: auto;
  }

  .headline {
    width: 100%; height: auto;
    font-size:3rem; color:#d12420;
    text-align: center;
    text-transform:capitalize;
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
  }
  
  .headline span {
    text-transform: lowercase;
  }

}

@media screen and (min-width:768px){
  
html, body {
  font-family: 'Noto Sans KR'; 
  color:#333;
  font-size: 19px; 
  font-size: 1.1875rem; 
  font-weight: 400;
  overflow-x: hidden;
  width: 100%; height: auto;
}

#wrap {
  width: 100%; height: auto;
}

.headline {
  width: 100%; height: auto;
  font-size:60px; color:#d12420;
  font-size:3.75rem;
  text-align: center;
  text-transform:capitalize;
  font-family: 'Kaushan Script', cursive;
  font-weight: 600;
}

.headline span {
  text-transform: lowercase;
}


}