/* css/src/main/contentBox_1920.css */

#contentBox {
  width:100%; height: 1730px;
  padding:210px 480px; box-sizing: border-box;
  background-color:#fff;
}

.contentBox_innerwrap {
  width: 100%; height: 100%;
}

.content_part_01 {
  width: 100%; height: 500px;
  margin-top: 50px;
}

.content_part_01 dl {
  float:right;
  width: 440px; height: auto;
  margin-top: 150px;
}

.content_part_01 dt {
  width:100%; height: auto;
  margin-bottom: 40px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:1.8rem; font-weight: 600;
  /* font-family: 'Kaushan Script', cursive;
  font-size:2.2rem; font-weight: 600; */
  text-transform: capitalize;
}

.content_part_01 dd {
  width:100%; height: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2rem; font-weight: 400;
  line-height: 1.5;
}

.content_part_01 .photo_01 {
  float: left;
  width:360px; height: 340px;
  margin-top: 70px;
  background-image:url("../../../img/coffeecup_01.jpg");
  background-repeat: no-repeat;
  background-size:140% auto;
  background-position:50% 50%;
}


.content_part_02 {
  width: 100%; height: 500px;
  margin-top: 30px;
}

.content_part_02 .photo_02 {
  float: right;
  width:360px; height: 340px;
  margin-top: 40px;
  background-image:url("../../../img/coffeebeans.jpg");
  background-repeat: no-repeat;
  background-size:120% auto;
  background-position:50% 50%;
}

.content_part_02 ul {
  float:left;
  width: 420px; height: auto;
  margin-top: 100px;
}

.content_part_02 li:first-child {
  width:100%; height: auto;
  margin-bottom: 40px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:1.8rem; font-weight: 600;
  /* font-family: 'Kaushan Script', cursive;
  font-size:2.2rem; font-weight: 600; */
  text-transform: capitalize;
}

.content_part_02 li span {
  text-transform: lowercase;
}

.content_part_02 li:nth-child(2), 
.content_part_02 li:nth-child(3), 
.content_part_02 li:nth-child(4),
.content_part_02 li:nth-child(5) {
  width:100%; height: auto;
  margin-top:10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2rem; font-weight: 400;
  line-height: 1.5;
  list-style:disc;
}
 
.content_part_02 dd > span{
  text-indent: 15px;
}

.contentBox_innerwrap .btn {
  width:170px; height: 40px;
  margin:auto; margin-top: 70px;
}

.contentBox_innerwrap a {
  display:block;
  width:100%; height: 100%;
  background-color:#d12420;
  font-size:20px; color:#fff;
  text-align:center;
  line-height: 36px;
}