/* project_001_illycoffee_main_768.css */

@media screen and (min-width:768px) and (max-width:1279px) {
  /* basic ------------------------------------------ */
  .innerwrap {
    width: 100%; height: 100%;
  }

  .mob_none, .pc_none_02 { display: none;}

  .button {
    display:block;
    width:100%; height: 100%;
    background-color:#d12420;
    font-size:1.1875rem; color:#fff;
    text-align:center; 
    line-height: 2;
  }
  .button:hover{ border:0.0625rem solid #d12420; box-sizing: border-box;}
  .button:hover,
  .button:focus {
    background-color: #fff;
    color:#d12420;
    font-weight: 600;
    line-height: 1.9 ;
    outline: 0;
    transition:all 300ms ease;
  }
  .button:focus {
    font-size: 1.3125rem;
    outline: 0.125rem solid #d12420;
  }

  /* #headBox --------------------------------------- */

  .headBox_innerwrap {
    padding:1.5625rem 6.25rem; box-sizing:border-box; 
  }
 
  .gnb_box {
    width: 70%; height:100vh;
  }


  .unb_box {
    margin-top:0.375rem; margin-right: 0.75rem;
  } 

  .unb_box li {
    margin-right: 1.375rem;
  }


  /* #viewBox --------------------------------- */
  
  #viewBox {
    width:100%; height: 37.5rem;
  }

  .viewBox_innerwrap {
    position:relative;
  }

  #viewBox .indicator {
    position:absolute;
    bottom:1.5rem; left:0; right: 0; z-index:100;
    width: 6.8125rem; height: 1.625rem;
    margin:auto;
    padding:0.3125rem 0.875rem; box-sizing:border-box;
  }

  .indicator > ul {
    width:100%; height: auto;
  }
  
  .indicator li {
    --i-size: 0.8125rem;
    float:left;
    width:0.8125rem; height: 0.8125rem;
    margin-right:0.875rem;
    width:var(--i-size); height: var(--i-size);
  }

  .indicator li:last-child{ margin-right:0; }

  .indicator li a {
    border:0.125rem solid #595959;
    box-sizing: border-box;
    border-radius: 0.8125rem;
    border-radius: var(--i-size);
    background-color: #fff;
  }
  
  .indicator li.act a {
    background-color: #d12420;
    border:0.125rem solid #d12420;
  }
  

.view_area {
  overflow:hidden;
  width:100%; height: 100%;
}

.view_area ul {
  width:300%; width:calc(100% * 3);
  height: 100%;
}

.view_area ul > li {
  /* position:relative; */
  float:left;
  width:33.333333%; width: calc(100% / 3);
  height: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 50% 50%;
}

#view_01{ background-image:url("../../../img/ban_x1_nor.jpg");}
#view_02{ background-image: url("../../../img/main_01_blur.jpg"); background-position: 80% 50%;}
#view_03{ background-image: url("../../../img/banner_03.jpg");}

.view_li_innerwrap {
  width:100%; height: 100%;
}

.view_area dl {
  width: 100%; height:auto;
  margin-left:6.25rem;
  margin-top: 9.375rem;
  word-break: keep-all;
}

.view_area dt {
  width:31.25rem; height: auto;
  font-size: 3rem; font-weight: 600;
}

.view_area dd:first-of-type {
  margin-top: 1.5rem;
  font-size:1.75rem; font-weight: 500;
}


.view_area dd:nth-of-type(2) {
  width:23.75rem; height: auto;
  margin-top: 1.5rem;
  line-height: 1.5;
  word-break: keep-all;
}

.view_area dd:last-of-type {
  width:10.625rem; height: 2.5rem;
  margin-top: 3.125rem;
}


/* #introBox --------------------------------------- */

#introBox {
  width:100%; height:auto;
  background-color:#fff;
}

.introBox_innerwrap {
  padding:7.5rem 8.125rem 9.375rem; box-sizing: border-box;
}

.intro_part {
  position:relative;
  width:100%; height: auto;
}

.intro_photo {
  width:100%; height: 50vw;
  margin-top:3.75rem;
  background-image:url("../../../img/live_happilly_white_coffee_cup.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:75% 68%;
}
.intro_photo_box { 
  display:none;
}

.intro_part > dl {
  width:100%; height: auto;
  margin-top: 3.125rem;
}

.intro_part dt {
  width: 100%; height: auto;
  font-size:1.5625rem; font-weight: 600;
  line-height: 1.6;
}

.intro_part dd:first-of-type {
  width: 100%; height: auto;
  margin-top:1.875rem;
  text-align:justify;
  line-height: 1.5;
}

.intro_part dd:last-of-type {
  width:10.625rem; height: 2.5rem;
  margin:auto;
  margin-top: 4.375rem;
}


/* #qualityBox -------------------------------------- */

#qualityBox {
  width:100%; height:auto;
  background-color: #eaeaea;
}

.qualityBox_innerwrap {
  padding:7.5rem 8.125rem 9.375rem; box-sizing: border-box;
}

.qualityBox_innerwrap > .headline {
  margin-bottom:5rem;
}

.quality_area {
  position:relative;
  overflow: hidden;
  width:100%; height: auto;
}

.quality_area > ul {
  width: 600%; height: 100%;
}

.quality_part {
  float:left;
  width:16.666666%; height: 100%;
}

 .quality_part_up {
  width:100%; height: auto;
}

.quality_photo {
  width:10.625rem; height: 10.625rem;
  margin: auto;
  border-radius: 10.625rem;  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 150% auto;
  background-position:50% 50%;
  background-color:#fff;
}

.quality_photo_01 {
  background-image:url("../../../img/quality_mark_01.jpg");
  background-size: 175% auto;
  background-position:50% 5px;
}
.quality_photo_02 {
  background-image: url("../../../img/quality_mark_02.jpg");
}
.quality_photo_03 {
  background-image: url("../../../img/quality_mark_03.jpg");
}
.quality_photo_04 {
  background-image: url("../../../img/quality_mark_04.jpg");
}
.quality_photo_05 {
  background-image: url("../../../img/quality_mark_05.jpg");
  background-size: 200% auto;
}
.quality_photo_06 {
  background-image: url("../../../img/quality_mark_06.jpg");
  background-size: 230% auto;
}

.quality_view_button {
  position:absolute; top:4.375rem;
  width:100%; height: auto;
}

.quality_view_button button {
  width:1.25rem; height: 2.5rem;
  padding: 0;
}

.next_btn {
  display: block;
  float:right;
  background-image: url("../../../icon/right_mobile_byme_gray.svg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:50% 50%;
}

.prev_btn{
  display: block;
  float:left;
  background-image: url("../../../icon/left_mobile_byme_gray.svg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:50% 50%;
}

.q_button:hover {
  width:1.875rem; height: 3.125rem;
}

.quality_part_up dl {
  width: 100%; height: auto;
  margin-top: 2.5rem;
}

.quality_part_up dt {
  width: 100%; height: auto;
  font-size: 1.5625rem; font-weight: 600;
  text-align:center;
  text-transform: capitalize;
  line-height: 1.6;
  word-break: keep-all;
}

.quality_part_up dd {
  width: 88%; height: auto;
  margin:auto; margin-top:1.875rem;
  text-align: justify;
  line-height: 1.5;
}

.quality_part_down {
  width:100%; height: auto;
}

.quality_part_down p {
  display: none;
}

/* .more_btn {
  width:110px; height: 34px;
  margin:auto;
  margin-top: 50px;
}

.more_btn a {
  display:block;
  width:100%; height: 100%;
  background-color:#d12420;
  font-size:15px; color:#fff;
  text-align:center; 
  line-height: 2.1;
} */



/* #contentBox -------------------------------------------- */

#contentBox {
  width:100%; height: auto;
  background-color:#fff;
}

.contentBox_innerwrap {
  padding:7.5rem 8.125rem 9.375rem; box-sizing: border-box;
}

.contentBox_innerwrap .headline {
  margin-left: -0.625rem;
  line-height: 1.5;
}

.content_part {
  width: 100%; height: auto;
  margin-top: 1.875rem;
}

.content_part .photo {
  width:28.125rem; height: 25.625rem;
  margin:auto;
  background-repeat: no-repeat;
  background-position:50% 50%;
}

.content_part_01 .photo_01 {
  background-image:url("../../../img/coffeecup_01.jpg");
  background-size:140% auto;
}

.content_part_01 dl {
  width: 70%; height: auto;
  margin: auto;
  margin-top: 50px;
}

.content_part_01 dt {
  width:100%; height: auto;
  font-size:1.75rem; font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.6;
}

.content_part_01 dd {
  width:100%; height: auto;
  margin-top:1.875rem;
  text-align: justify;
  line-height: 1.5;
}

.content_part_02 {
  margin-top: 6.25rem;
}

.content_part_02 .photo_02 {
  background-image:url("../../../img/coffeebeans.jpg");
  background-size:120% auto;
}

.content_part_02 ul {
  width: 70%; height: auto;
  margin: auto;
  margin-top: 2.5rem;
}

.content_part_02 li {
  width:100%; height:auto;
  text-align: justify;
}

.content_part_02 li:first-child {
  font-size:1.75rem; font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.6;
}


.content_part_02 li span {
  text-transform: lowercase;
}

.content_part_02 li:nth-child(2), 
.content_part_02 li:nth-child(3), 
.content_part_02 li:nth-child(4),
.content_part_02 li:nth-child(5) {
  margin-top:0.9375rem; margin-left: 0.625rem;
  line-height: 1.5;
  list-style:disc;
}

.content_part_02 li:nth-child(2) {
  margin-top:1.875rem;
}

.contentBox_innerwrap .btn {
  width:10.625rem; height: 2.5rem;
  margin:auto; margin-top: 4.375rem;
}



/* #productBox ------------------------------------------------- */

#productBox {
  width:100%; height:auto;
}

.titleBox {
  width: 100%; height: 17.5rem;
  padding:3.125rem 4.5rem; box-sizing: border-box;
  background-image:url("../../../img/productbox_bg_bk.jpg");
  background-repeat: no-repeat;
  background-size: auto 43.75rem;
  background-position: 56% 35%;
}

.title_innerBox {
  width:100%; height: 100%;
  border:0.125rem solid #fff; box-sizing: border-box;
}

.title_innerBox > .headline {
  margin-top:3.125rem; margin-left: -0.25rem;
  color:#fff;
  font-weight: 300;
}

/* // titleBox ------------------- */

.product_area {
  width: 100%; height: auto;
  padding:1.875rem 2.25rem 10rem; box-sizing: border-box;
}

.product_area > .product_list {
  width: 100%; height: auto;
}

.product_list > li {
  float: left;
  width:33.333333%; height: 33vw;
  min-height: 20rem;
  margin-top: 1.625rem;
  padding:0.875rem 0.625rem; 
  box-sizing: border-box;
}

.product_area > .product_list a {
  display: block;
  width: 100%; height: 100%;
  padding:0.875rem 0.625rem;
  box-sizing: border-box;
}

.product_area .product .photo {
  width:83%; height: 20vw;
  margin: auto;
  background-repeat: no-repeat;
  background-size:contain;
  background-position:50% 50%;
}

.product_area dl {
  width:80%; height: auto;
  margin:auto;
  margin-top:1.875rem;
  font-size:0.9375rem;
  font-weight: 500;
  text-align:left;
}

.product_area dt {
  width:100%; height: auto;
  line-height: 1.5;
  /* white-space: nowrap; */
  /* overflow-y:hidden; */
  /* text-overflow:ellipsis; */
  font-weight: 700;
  word-break:keep-all;
}

.product_area dd {
  width:100%; height: auto;
  margin-top: 1.25rem;
}


.product_01_photo {
  background-image: url("../../../img/product_01.jpg");
}

.product_02_photo {
  background-image: url("../../../img/product_02.jpg");
}

.product_03_photo {
  background-image: url("../../../img/product_03.jpg");
}

.product_04_photo {
  background-image: url("../../../img/product_04.jpg");
}

.product_05_photo {
  background-image: url("../../../img/product_05.jpg");
}

.product_06_photo {
  background-image: url("../../../img/product_06.jpg");
}


.buy_btn_wrap {
  width: 100%; height: auto;
  margin-top: 4.375rem;
}

.buy_btn_wrap > .buy_btn {
  width:8.75rem; height: 2.5rem;
  margin:auto;
}


/* #snsBox ----------------------------------------------- */

#snsBox {
  --snsLength:10;

  width:100%; height:37.5rem;
  background-image:url("../../../img/coffee_gr.jpg");
  background-repeat: no-repeat;
  background-size:100% auto;
  background-position:50% 50%;
}

.sns_innerwrap {
  padding-top:7.5rem; box-sizing: border-box;
}

.sns_innerwrap > .headline {
  margin-bottom:5.25rem;
  color:#fff;
  font-weight: 500;
}

.sns_photo {
  overflow:hidden;
  width:100%; height: auto;
}

.sns_photo > ul {
  width:94.375rem; height: auto;
}

.sns_photo > ul > li {
  float:left;
  width:9.375rem;
  height: 9.375rem;
  margin-right:1.25rem;
  box-shadow: 0.375rem 0.375rem 0.625rem rgba(0,0,0,0.3);
}

.sns_photo li a {
  display:block;
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:50% 50%;
}

.sns_photo li a:focus{
  outline: 0;
 border: 0.1875rem solid #fff; box-sizing: border-box;
}

.sns_photo_01 > a {
  margin-left:0;
  background-image: url("../../../img/sns_photo_04.png");
}

.sns_photo_02  > a {
  background-image: url("../../../img/sns_photo_01.png");
}

.sns_photo_03  > a {
  background-image: url("../../../img/sns_photo_05.png");
}

.sns_photo_04  > a {
  background-image: url("../../../img/sns_photo_02.png");
}

.sns_photo_05  > a {
  background-image: url("../../../img/sns_photo_03.png");
}

.sns_photo_06  > a {
  background-image: url("../../../img/sns_photo_06.png");
}

.sns_photo_07  > a {
  background-image: url("../../../img/sns_photo_07.png");
}

.sns_photo_08  > a {
  background-image: url("../../../img/sns_photo_08.png");
}



/* #footBox --------------------------------------- */

.footBox_innerwrap {
  padding:4.375rem 1.875rem; box-sizing: border-box;
}

}