/* project_001_illycoffee_main_1280.css */

@media screen and (min-width:1280px) and (max-width:1599px) {

  html, body {
    font-family: 'Noto Sans KR'; 
    color:#333;
    font-size: 19px; 
    font-weight: 400;
    overflow-x: hidden;
    width: 100%; height: auto;
  }
  
  #wrap {
    width: 100%; height: auto;
  }
  

  .headline {
    width: 100%; height: auto;
    font-size:60px; color:#d12420;
    text-align: center;
    text-transform:capitalize;
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
  }
  
  .headline span {
    text-transform: lowercase;
  }
  
  abbr {
    text-decoration: none;
  }
  
  section dd > a,
  article dd > a,
  footer dd > a {
    display:block;
    width:100%; height: 100%;
    background-color:#d12420;
    font-size:19px; color:#fff;
    text-align:center; 
    line-height: 1.9;
  }
  
  /* ------------------------------------------- */
  
  /* #headBox --------------------------------------- */
  #headBox {
    position:relative; z-index: 100;
    width:100%; height:90px;
    border-bottom:2.2px solid #d12420; 
    background-color:#fff;
    box-shadow: 0 10px 20px #666;
  }
  
  .headBox_innerwrap {
    width: 1280px; height: 100%;
    margin:auto;
    padding:0 90px 0 150px; box-sizing:border-box; 
  }
  
  h1 {
    float:left;
    width:55px; height: 55px;
    margin: 17.5px 0;
  }
  
  h1 > a {
    display:block;
    width:100%; height:100%;
    background-image:url("../../../illy_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }
  
  #navBox {
    float: right;
    width:844px; height:auto;
    margin-top:30px;
  }
  
  .nav_btn {display:none;}

  .box {
    float:left;
    height: 36px;
  }
  
  .box ul {
    width:100%; height: 100%;
  }
  
  .box li {
    /* position:relative; */
    float:left;
    height: 100%;
    text-align: center;
  }
  
  .box a {
    width: auto; height: auto;
    font-family: 'Roboto', sans-serif;
    font-size:18px; color:#333; font-weight: 500;
    text-align:center; text-transform: uppercase;
    line-height: 36px;
  }
  
  .box dl {
    /* position:absolute; */
    width: 100%; height: auto;
  }
  
  .box dt a {
    width: auto; height: auto;
    margin: auto;
  }
  
  .box dd {
    width: 100%; height: 42px;
    background-color: #fff;
  }
  
  .box dd:first-of-type {
    margin-top:10px;
  }
  
  
  .box dd a {
    width: auto; height: auto;
    margin: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px; color:#333; font-weight: 400;
    text-align:center; text-transform: capitalize;
  }
  
  .gnb_box {
    width:586px;
  }
  
  .gnb_box li {
    float:left;
    width: 110px;
    margin-left:8px;
    /* float과 margin:auto는 같이 쓸수 없음 */
  }
  
  .gnb_box li:first-child {
    margin-left: 0;
  }
  
  .unb_box {
    width: 234px;
    margin-left: 24px;
  }
  
  .unb_box li:nth-child(2),
  .unb_box li:nth-child(3),  
  .unb_box li:nth-child(4)  {
    margin-left: 22px;
  }
  
  .unb_box li a {
    display: block;
    width: 100%; height: 100%;
    margin:auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  } 
  
  .unb_box li:first-child a {
    display: inline;
    width: auto; height: auto;
    font-size: 16px; font-weight: 500;
    line-height: 34px;
  }
  .unb_box li:first-child a span {
    text-transform: capitalize;
  }
  
  .unb_box li:nth-child(2) a {
    width: 24px; height: 24px;
    margin-top: 4.5px;
    background-image: url("../../../../icon/search_byme.svg");
  }
  
  .unb_box li:nth-child(3) a {
    width: 25px; height: 25px;
    margin-top: 4px;
    background-image: url("../../../../icon/user02.svg");
  }
  
  .unb_box li:nth-child(4) a {
    width: 26px; height: 26px;
    margin-top: 3.3px;
    background-image: url("../../../../icon/shoppingbag_byme.svg");
  }

  .unb_box li a:hover,
  .gnb_box li dt a:hover, 
  .gnb_box .news_title a:hover {
    padding-bottom: 4px; box-sizing: border-box;
    border-bottom:2.2px solid #d12420; 
    box-sizing: border-box;
    color:#d12420;
  }
  
  .gnb_box li dd a:hover {
    /* background-color:#d12420; */
    color:#d12420;
    font-weight: 600;
    text-decoration: underline;
  }
  
  .unb_box li a:focus,
  .gnb_box li a:focus {
    outline: 0;
    color:#d12420; font-weight: 600;
    padding:4px;
    border:2px solid #d12420;
  }
  


/* #viewBox ---------------------------------------------- */
  #viewBox {
    width:100%; height: 710px;
  }

  .viewBox_innerwrap {
    position:relative;
    width:100%; height: 100%;
    margin:auto;
    /* padding:130px 196px; box-sizing: border-box; */
  }

  #viewBox .indicator {
    position:absolute;
    bottom:24px; left:0; right: 0; z-index:100;
    width: 109px; height: 26px;
    margin:auto;
    padding:5px 14px; box-sizing:border-box;
  }

  .indicator > ul {
    width:100%; height: auto;
  }
  
  .indicator li {
    --i-size: 13px;
    float:left;
    width:13px; height: 13px;
    margin-right:14px;
    width:var(--i-size); height: var(--i-size);
  }

  .indicator li:last-child{ margin-right:0; }

.indicator li a {
  border-radius: 13px;
  border-radius: var(--i-size);
  background-color: #fff;
}

.indicator li.act a {
  background-color: #d12420;
}

.view_area {
  overflow:hidden;
  width:100%; height: 100%;
}

.view_area ul {
  width:300%; width:calc(100% * 3);
  height: 100%;
}

.view_area ul > li {
  /* position:relative; */
  float:left;
  width:33.333333%; width: calc(100% / 3);
  height: 100%;
}

.view_area > ul > li:nth-child(1){
  background-image:url("../../../img/main_01.jpg");
  background-repeat: no-repeat;
  background-size:110% auto;
  background-position: 50% 50%;
}
.view_area > ul > li:nth-child(2){ background-color: #805941; }
.view_area > ul > li:nth-child(3){ background-color: #e6ddd8; }
.view_area > ul > li:nth-child(4){ background-color: #d12420; }
.view_area > ul > li:nth-child(5){ background-color: #e60012; }

.view_li_innerwrap {
  width:1280px; height: 100%;
  margin:auto;
}

.view_area dl {
  /* position:absolute; left:0; right:0; top:50%; */
  width: 460px; height:auto;
  margin-left:150px;
  margin-top:190px;
  /* transform:translateY(-50%); */
}

.view_area dt {
  width:100%; height: auto;
  font-size: 52px; font-weight: 600;
  text-transform: capitalize;
}

.view_area dt span {
  text-transform: lowercase;
}

.view_area dd:first-of-type,
.view_area dd:nth-of-type(2) {
  width:100%; height: auto;
  margin-top: 50px;
  font-size: 22px;
  line-height: 32px;
}

.view_area dd:last-of-type {
  width:170px; height: 40px;
  margin-top: 80px;
}

#view_01 dd:first-of-type {
  width:100%; height: auto;
  margin-top: 30px;
  font-size:36px; font-weight: 500;
  text-transform: capitalize;
}

/* #introBox --------------------------------------- */

#introBox {
  width:100%; height:900px;
  background-color:#fff;
}

.introBox_innerwrap {
  position:relative;
  width:1280px; height: 100%;
  margin:auto;
  padding:150px 0 0 0; box-sizing: border-box;
}

#introBox .headline {
  margin-left:10px;
}


.intro_part {
  width:100%; height: auto;
}

.intro_photo {
  position:relative; z-index:1;
  float:right;
  width: 438px; height: 334px;
  margin-top:90px;
  background-image:url("../../../img/illy_coffee.jpg");
  background-repeat: no-repeat;
  background-size:120% auto;
  background-position:50% 68%;
}
.intro_photo_box { 
  position:absolute; right:0; top:38%;
  float:right;
  width: 476px; height: 330px;
  border:2.5px solid #b9b9b9;
  box-sizing: border-box;
  border-right: 0;
}

.intro_part > dl {
  float:left;
  width:620px; height: auto;
  margin-top: 110px;
  margin-left:60px;
}

.intro_part dt {
  width: 100%; height: auto;
  font-size:22.5px; font-weight: 600;
}

.intro_part dd:first-of-type {
  width: 100%; height: auto;
  margin-top:30px;
  line-height: 1.5;
}

.intro_part dd:last-of-type {
  width:170px; height: 40px;
  margin-top: 50px;
}


/* #qualityBox -------------------------------------- */

#qualityBox {
  width:100%; height:900px;
  padding:140px 0; box-sizing: border-box;
  background-color: #eaeaea;
}

.qualityBox_innerwrap {
  width:100%; height: 100%;
}

.qualityBox_innerwrap > .headline {
  margin-bottom:60px;
}

.quality_area {
  position:relative;
  overflow:hidden;
  width:950px; height: 460px;
  margin-top: 70px;
  margin:auto;
}

.quality_area > ul {
  width: 700%; height: 100%;
}

.quality_area li {
  float:left;
  width: 950px; height: 460px;
}

.quality_part_01 {
  width:950px; height: 460px;
  padding:80px 50px 30px 50px; box-sizing: border-box;
  margin:auto;
  background-color:#fff;
}

.quality_part_up {
  width:100%; height: auto;
  margin:auto;
}

.quality_photo_01 {
  float: left;
  width:240px; height: 220px;
  margin-top: 10px;
  border-radius: 220px;  box-sizing: border-box;
  background-image:url("../../../img/quality_01.png");
  background-repeat: no-repeat;
  background-size: 150% auto;
  background-position:40% 70%;
}

.quality_part_up dl {
  float: right;
  width: 490px; height: auto;
  margin-top: 5px; margin-left: 90px;
}

.quality_part_up dt {
  width: 100%; height: auto;
  margin-bottom: 30px;
  font-size: 25px; font-weight: 600;
  text-transform: capitalize;
}

.quality_part_up dd {
  width: 100%; height: auto;
  line-height: 1.5;
}

.quality_part_down {
  position:absolute; left:0; right: 0; top:90%;
  width:100%; height: auto;
  padding:0 80px 0 120px; box-sizing: border-box;
  transform:translateY(-90%)
}

.quality_part_down p {
  float:left;
  display: block;
  width: 50px; height:auto;
  margin-top:8px;
  font-family: 'Roboto';
  font-size: 18px; font-weight: 500;
}

.quality_view_button {
  float:right;
  width:78px; height: auto;
}

.quality_view_button button {
  width:35px; height: 35px;
  background-color: #d12420;
  color:#fff;
}

.next_btn {
  float:right;
  margin-left:8px;
  background-image: url("../../../icon/right.svg");
  background-repeat: no-repeat;
  background-size:40% auto;
  background-position:55% 50%;
}

.prev_btn{
  float:left;
  background-image: url("../../../icon/left.svg");
  background-repeat: no-repeat;
  background-size:40% auto;
  background-position:45% 50%;
}

.more_btn {
  display: none;
}

/* #contentBox -------------------------------------------- */

#contentBox {
  width:100%; height: 1550px;
  background-color:#fff;
}

.contentBox_innerwrap {
  width: 1280px; height: 100%;
  margin:auto;
  padding:140px 200px; box-sizing: border-box;
}

.content_part_01 {
  width: 100%; height: 500px;
  margin-top: 50px;
}

.content_part_01 dl {
  float:right;
  width: 440px; height: auto;
  margin-top: 150px;
}

.content_part_01 dt {
  width:100%; height: auto;
  margin-bottom: 40px;
  font-size:28px; font-weight: 600;
  /* font-family: 'Kaushan Script', cursive;
  font-size:2.2rem; font-weight: 600; */
  text-transform: capitalize;
}

.content_part_01 dd {
  width:100%; height: auto;
  line-height: 1.5;
}

.content_part_01 .photo_01 {
  float: left;
  width:340px; height: 340px;
  margin-top: 90px;
  background-image:url("../../../img/coffeecup_01.jpg");
  background-repeat: no-repeat;
  background-size:140% auto;
  background-position:50% 50%;
}


.content_part_02 {
  width: 100%; height: 500px;
  margin-top: 30px;
}

.content_part_02 .photo_02 {
  float: right;
  width:340px; height: 340px;
  margin-top: 50px;
  background-image:url("../../../img/coffeebeans.jpg");
  background-repeat: no-repeat;
  background-size:120% auto;
  background-position:50% 50%;
}

.content_part_02 ul {
  float:left;
  width: 420px; height: auto;
  margin-top: 100px;
}

.content_part_02 li:first-child {
  width:100%; height: auto;
  margin-bottom: 40px;
  font-size:28px; font-weight: 600;
  /* font-family: 'Kaushan Script', cursive;
  font-size:2.2rem; font-weight: 600; */
  text-transform: capitalize;
}

.content_part_02 li span {
  text-transform: lowercase;
}

.content_part_02 li:nth-child(2), 
.content_part_02 li:nth-child(3), 
.content_part_02 li:nth-child(4),
.content_part_02 li:nth-child(5) {
  width:100%; height: auto;
  margin-top:10px;
  line-height: 1.5;
  list-style:disc;
}
 
.content_part_02 dd > span{
  text-indent: 15px;
}

.contentBox_innerwrap .btn {
  width:170px; height: 40px;
  margin:auto; margin-top: 50px;
}

.contentBox_innerwrap a {
  display:block;
  width:100%; height: 100%;
  background-color:#d12420;
  font-size:20px; color:#fff;
  text-align:center;
  line-height: 36px;
}


/* #productBox ------------------------------------------------- */

#productBox {
  width:100%; height:auto;
  background-color:#fff;
}

.titleBox {
  width: 100%; height: 400px;
  padding:80px 0px; box-sizing: border-box;
  background-image:url("../../../img/productbox_bg_bk.jpg");
  background-repeat: no-repeat;
  background-size: auto 900px;
  background-position: 60% 24%;
}

.title_innerBox {
  width:980px; height: 240px;
  margin:auto;
  padding:90px 0px; box-sizing: border-box;
  border:2px solid #fff;
}

.title_innerBox > .headline {
  color:#fff;
  font-size: 64px;
  font-weight: 300;
}

/* // titleBox ------------------- */


.product_area {
  width: 980px; height: 1140px;
  margin:auto; padding-top: 80px; box-sizing: border-box;
}

.product_area > .product_list {
  width: 980px; height: 810px;
  margin:auto;
}


.product_area > .product_list li {
  display: block;
  float: left;
  width:300px; height: 340px;
  margin-left: 40px;
  border:1px solid #ddd; box-sizing: border-box;
}


.product_area > .product_list a {
  display: block;
  width: 100%; height: 100%;
}

.product_area .product_list li:nth-child(4), 
.product_area .product_list li:nth-child(5), 
.product_area .product_list li:nth-child(6) {
  margin-top: 40px;
} 

.product_area .product_list li:first-child,
.product_area .product_list li:nth-child(4) {
  margin-left: 0;
}

.product_area .product .photo {
  width:220px; height: 220px;
  margin: auto; padding-top:14px; box-sizing: border-box;
  background-repeat: no-repeat;
  background-size:contain;
  background-position:50% 50%;
}

.product_area dl {
  width:100%; height: auto;
  margin-top:24px;
}

.product_area dt {
  width:100%; height: auto;
  margin: auto;
  font-size:17px;
  font-weight: 600;
  text-align:center;
}

.product_area dd {
  width:230px; height: auto;
  margin:auto; margin-top: 16px; 
  font-size:17px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
}

.product_01_photo {
  background-image: url("../../../img/product_01.jpg");
}

.product_02_photo {
  background-image: url("../../../img/product_02.jpg");
}

.product_03_photo {
  background-image: url("../../../img/product_03.jpg");
}

.product_04_photo {
  background-image: url("../../../img/product_04.jpg");
}

.product_05_photo {
  background-image: url("../../../img/product_05.jpg");
}

.product_06_photo {
  background-image: url("../../../img/product_06.jpg");
}


.buy_btn_wrap {
  width: 100%; height: 40px;
}

.buy_btn_wrap > .buy_btn {
  width:170px; height: 40px;
  margin: auto;
}

.buy_btn_wrap .buy_btn a {
  display:block;
  width:170px; height: 100%;
  background-color:#d12420;
  font-size:20px; color:#fff;
  text-align:center;
  line-height: 36px;
}


/* #snsBox ----------------------------------------------- */

#snsBox {
  --snsLength:10;

  width:100%; height:800px;
  padding:150px 0; box-sizing: border-box;
  background-image:url("../../../img/coffee_gr.jpg");
  background-repeat: no-repeat;
  background-size:100% auto;
  background-position:50% 50%;
}

.sns_innerwrap {
  width: 100%; height: 100%;
}

.sns_innerwrap > .headline {
  margin-bottom:110px;
  color:#fff;
  font-size: 64px;
  font-weight: 500;
}

.sns_photo {
  overflow:hidden;
  width:100%; height: 310px;
}

.sns_photo > ul {
  width:1100%; width:calc(300px * (var(--snsLength) + 1)); height: 300px;
}

.sns_photo > ul > li {
  float:left;
  width:240px;
  height: 240px;
  margin-left:20px;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.3);
  /* background-color:#333; */
}

.sns_photo > ul > li:first-child {
  margin-left: 0;
}

.sns_photo li a {
  display:block;
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:50% 50%;
}

.sns_photo li:first-child > a {
  margin-left:0;
  background-image: url("../../../img/sns_photo_04.PNG");
}

.sns_photo li:nth-child(2) > a {
  background-image: url("../../../img/sns_photo_01.PNG");
}

.sns_photo li:nth-child(3) > a {
  background-image: url("../../../img/sns_photo_05.PNG");
}

.sns_photo li:nth-child(4) > a {
  background-image: url("../../../img/sns_photo_02.PNG");
}

.sns_photo li:nth-child(5) > a {
  background-image: url("../../../img/sns_photo_03.PNG");
}


 /* #footBox --------------------------------------- */
#footBox {
  width:100%; height:440px;
  background-color:#434343;
}

.footBox_innerwrap {
  width: 1280px; height: 100%;
  margin:auto;
  padding:70px 150px; box-sizing: border-box;
}

#footBox .logo {
  width:50px; height: 50px;
  margin:auto;
}

#footBox .logo > a {
  display:block;
  width:100%; height:100%;
  background-image:url("../../../illy_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}


.info_part {
  float:left;
  width: 660px; height: auto;
  margin-top: 60px;
}

.info_part .pc_none { display: none;}

.info_part p {
  width: auto; height: auto;
  color:#fff; font-size:15px; font-weight: 400;
  line-height: 1.6;
}

.info_part .spacing {
  margin-left:8px;
}

.info_part p:last-of-type,
.info_part div p:last-of-type {
  text-transform: capitalize;
}

.info_part div,
.info_part div p
{
  display: inline;
} 

.info_part > p a {
  font-size:16px;
  text-decoration: underline;
}


.sns_part {
  float:right;
  width: 120px; height: auto;
  margin-top: 60px;
}

.sns_part p {
  width: 100%; height: auto;
  font-size: 17px; color:#fff; font-weight: 500;
  text-align: center; text-transform: capitalize;
}

.sns {
  width: 100%; height: auto;
}

.sns > div {
  float:left;
  width: 30px; height: 30px;
  margin-top:16px; margin-left: 22px;
}

.sns > div:nth-child(2) {
  margin-left: 16px;
}

.sns > div > a {
  display: block;
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.sns > div:nth-child(1) > a {
  background-image:url("../../../../icon/f_logo_white_1024.png") ;
}

.sns > div:nth-child(2) > a {
  margin-top: 1.5px;
  background-image:url("../../../../icon/insta_logo_white.svg") ;
}

.sns_part > .cs {
  width: 100%; height: 34px;
  margin-top:30px;
}

.sns_part > .cs > a {
  float:left;
  display:block;
  width: 100%; height: 100%;
  border:1px solid #fff;
  color:#fff;
  font-size:15px; text-align:center;
  line-height: 32px;
}


}