/* css/src/main/project_001_illycoffee_main_1600.css */

@media screen and (min-width:1600px) {
  /* basic ------------------------------------------ */
  .innerwrap{
    width:1600px; height: 100%;
    margin:auto;
  }  

  .button {
    display:block;
    width:100%; height: 100%;
    background-color:#d12420;
    font-size:19px; color:#fff;
    text-align:center; 
    line-height: 2;
  }
  .button:hover{ border:1.8px solid #d12420; box-sizing: border-box;}
  .button:hover,
  .button:focus {
    background-color: #fff;
    color:#d12420;
    font-weight: 600;
    line-height: 1.8 ;
    outline: 0;
    transition:all 300ms ease;
  }
  .button:focus {
    font-size: 21px;
    outline: 2.2px solid #d12420;
  }

/* #headBox ------------------------------------ */

.headBox_innerwrap {
  padding:0 90px 0 220px; box-sizing:border-box; 
}

/* #viewBox ------------------------------------------ */

#viewBox {
  width:100%; height: 810px;
}

.viewBox_innerwrap {
  position:relative;
  width:100%; height: 100%;
}

#viewBox .indicator {
  position:absolute;
  bottom:24px; left:0; right: 0; z-index:100;
  width: 109px; height: 26px;
  margin:auto;
  padding:5px 14px; box-sizing:border-box;
}

.indicator > ul {
  width:100%; height: auto;
}

.indicator li {
  --i-size: 13px;
  float:left;
  width:13px; height: 13px;
  margin-right:14px;
  width:var(--i-size); height: var(--i-size);
}

.indicator li:last-child{ margin-right:0; }

.indicator li a {
  border-radius: 13px;
  border-radius: var(--i-size);
  background-color: #fff;
}

.indicator li.act a {
  background-color: #d12420;
}

.view_area {
  overflow:hidden;
  width:100%; height: 100%;
}

.view_area ul {
  width:300%; width:calc(100% * 3);
  height: 100%;
}

.view_area ul > li {
  position:relative;
  float:left;
  width:33.333333%; width: calc(100% / 3);
  height: 100%;
}

.view_area > ul > li:nth-child(1){
  background-image:url("../../../img/main_01.jpg");
  background-repeat: no-repeat;
  background-size:110% auto;
  background-position: 50% 50%;
}
.view_area > ul > li:nth-child(2){ background-color: #805941; }
.view_area > ul > li:nth-child(3){ background-color: #e6ddd8; }
.view_area > ul > li:nth-child(4){ background-color: #d12420; }
.view_area > ul > li:nth-child(5){ background-color: #e60012; }

.view_li_innerwrap {
  width:1600px; height: 100%;
  margin:auto;
}

.view_area dl {
  /* position:absolute; left:0; right:0; top:50%; */
  width: 460px; height:auto;
  margin-top:220px;
  margin-left:220px;
  /* transform:translateY(-50%); */
}

.view_area dt {
  width:100%; height: auto;
  font-size: 52px; font-weight: 600;
  text-transform: capitalize;
}

.view_area dt span {
  text-transform: lowercase;
}

.view_area dd:first-of-type,
.view_area dd:nth-of-type(2) {
  width:100%; height: auto;
  margin-top: 50px;
  font-size: 22px;
  line-height: 32px;
}

.view_area dd:last-of-type {
  width:170px; height: 40px;
  margin-top: 80px;
}

#view_01 dd:first-of-type {
  width:100%; height: auto;
  margin-top: 30px;
  font-size:36px; font-weight: 500;
  text-transform: capitalize;
}

/* #introBox ------------------------------------------- */

#introBox {
  width:100%; height:900px;
  background-color:#fff;
}

.introBox_innerwrap {
  position:relative;
  padding:150px 0 0 0; box-sizing: border-box;
}

#introBox .headline {
  margin-left:40px;
}


.intro_part {
  position:absolute; left:0; top:50%;
  width:100%; height: auto;
  transform:translateY(-50%);
}

.intro_photo {
  position:relative; z-index:1;
  float:right;
  width: 530px; height: 380px;
  margin-top:90px;
  background-image:url("../../../img/illy_coffee.jpg");
  background-repeat: no-repeat;
  background-size:120% auto;
  background-position:50% 68%;
}
.intro_photo_box { 
  position:absolute; right:0; top:28%;
  float:right;
  width: 568px; height: 376px;
  border:2.5px solid #b9b9b9;
  box-sizing: border-box;
  border-right: 0;
}

.intro_part > dl {
  float:left;
  width:620px; height: auto;
  margin-top: 110px; margin-left:220px;
}

.intro_part dt {
  width: 100%; height: auto;
  font-size:22.5px; font-weight: 600;
}

.intro_part dd:first-of-type {
  width: 100%; height: auto;
  margin-top:30px;
  text-align: justify;
  line-height: 1.5;
}

.intro_part dd:last-of-type {
  width:170px; height: 40px;
  margin-top: 50px;
}

/* #qualityBox -------------------------------------- */

#qualityBox {
  width:100%; height:900px;
  padding:140px 0; box-sizing: border-box;
  background-color: #eaeaea;
}

.qualityBox_innerwrap {
  width:100%; height: 100%;
}

.qualityBox_innerwrap > .headline {
  margin-bottom:60px;
}

.quality_area {
  position:relative;
  overflow:hidden;
  width:950px; height: 460px;
  margin-top: 70px;
  margin:auto;
}

.quality_area > ul {
  width: 700%; height: 100%;
}

.quality_area li {
  float:left;
  width: 950px; height: 460px;
}

.quality_part_01 {
  width:950px; height: 460px;
  padding:80px 50px 30px 50px; box-sizing: border-box;
  margin:auto;
  background-color:#fff;
}

.quality_part_up {
  width:100%; height: auto;
  margin:auto;
}

.quality_photo_01 {
  float: left;
  width:240px; height: 220px;
  margin-top: 10px;
  border-radius: 220px;  box-sizing: border-box;
  background-image:url("../../../img/quality_01.png");
  background-repeat: no-repeat;
  background-size: 150% auto;
  background-position:40% 70%;
}

.quality_part_up dl {
  float: right;
  width: 490px; height: auto;
  margin-top: 5px; margin-left: 90px;
}

.quality_part_up dt {
  width: 100%; height: auto;
  margin-bottom: 30px;
  font-size: 25px; font-weight: 600;
  text-transform: capitalize;
}

.quality_part_up dd {
  width: 100%; height: auto;
  text-align: justify;
  line-height: 1.5;
}

.quality_part_down {
  position:absolute; left:0; right: 0; top:90%;
  width:100%; height: auto;
  padding:0 80px 0 120px; box-sizing: border-box;
  transform:translateY(-90%)
}

.quality_part_down p {
  float:left;
  display: block;
  width: 50px; height:auto;
  margin-top:8px;
  font-family: 'Roboto';
  font-size: 18px; font-weight: 500;
}

.quality_view_button {
  float:right;
  width:auto; height: auto;
}

.quality_view_button button {
  width:35px; height: 35px;
  background-color: #d12420;
  color:#fff;
}

.q_button {
  background-repeat: no-repeat;
  background-size:40% auto;
  background-position:45% 50%;
}

.next_btn {
  float:right;
  margin-left:8px;
  background-image: url("../../../icon/right.svg");
  background-position:55% 50%;
}

.prev_btn{
  float:left;
  background-image: url("../../../icon/left.svg");
}

.q_button:hover{ 
  outline:2px solid #d12420;
  background-color: #fff;
}
.next_btn:hover{
  background-image: url("../../../icon/right_red.svg");
}
.prev_btn:hover { 
  background-image: url("../../../icon/left_red.svg");
}
.q_button:focus {
  outline: 0;
  outline:2.5px solid #333;
 }

/* #contentBox -------------------------------------------- */

#contentBox {
  width:100%; height: 1550px;
  background-color:#fff;
}

.contentBox_innerwrap {
  padding:140px 350px; box-sizing: border-box;
}

.content_part_01 {
  width: 100%; height: 500px;
  margin-top: 50px;
}

.content_part_01 dl {
  float:right;
  width: 440px; height: auto;
  margin-top: 150px;
}

.content_part_01 dt {
  width:100%; height: auto;
  margin-bottom: 40px;
  font-size:28px; font-weight: 600;
  text-transform: capitalize;
}

.content_part_01 dd {
  width:100%; height: auto;
  text-align: justify;
  line-height: 1.5;
}

.content_part_01 .photo_01 {
  float: left;
  width:360px; height: 340px;
  margin-top: 70px;
  background-image:url("../../../img/coffeecup_01.jpg");
  background-repeat: no-repeat;
  background-size:140% auto;
  background-position:50% 50%;
}


.content_part_02 {
  width: 100%; height: 500px;
  margin-top: 30px;
}

.content_part_02 .photo_02 {
  float: right;
  width:360px; height: 340px;
  margin-top: 40px;
  background-image:url("../../../img/coffeebeans.jpg");
  background-repeat: no-repeat;
  background-size:120% auto;
  background-position:50% 50%;
}

.content_part_02 ul {
  float:left;
  width: 410px; height: auto;
  margin-top: 100px;
}

.content_part_02 li:first-child {
  width:100%; height: auto;
  margin-bottom: 40px;
  font-size:28px; font-weight: 600;
  text-align: justify;
  text-transform: capitalize;
}

.content_part_02 li span {
  text-transform: lowercase;
}

.content_part_02 li:nth-child(2), 
.content_part_02 li:nth-child(3), 
.content_part_02 li:nth-child(4),
.content_part_02 li:nth-child(5) {
  width:100%; height: auto;
  margin-top:10px;
  line-height: 1.5;
  list-style:disc;
}
 
.content_part_02 dd > span{
  text-indent: 15px;
}

.contentBox_innerwrap .btn {
  width:170px; height: 40px;
  margin:auto; margin-top: 50px;
}


/* #productBox ------------------------------------------------- */

#productBox {
  width:100%; height:auto;
  background-color:#fff;
}

.titleBox {
  width: 100%; height: 400px;
  padding:80px 0px; box-sizing: border-box;
  background-image:url("../../../img/productbox_bg_bk.jpg");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 70% 30%;
}

.title_innerBox {
  width:1160px; height: 240px;
  margin:auto;
  padding:90px 0px; box-sizing: border-box;
  border:2px solid #fff;
}

.title_innerBox > .headline {
  color:#fff;
  font-size: 64px;
  font-weight: 300;
}

/* // titleBox ------------------- */


.product_area {
  position:relative;
  width: 1160px; height: 1300px;
  margin:auto; padding-top: 80px; box-sizing: border-box;
}

.product_area > .product_list {
  width: 1160px; height: 840px;
  margin:auto; margin-top: 50px;
}


.product_area > .product_list li {
  position:relative;
  float: left;
  width:360px; height: 400px;
  margin-left: 40px;
  border:1px solid #ddd; box-sizing: border-box;
}


.product_area > .product_list a {
  display: block;
  width: 100%; height: 100%;
}

.product_area .product_list li:nth-child(4), 
.product_area .product_list li:nth-child(5), 
.product_area .product_list li:nth-child(6) {
  margin-top: 40px;
} 

.product_area .product_list li:first-child,
.product_area .product_list li:nth-child(4) {
  margin-left: 0;
}

.product_area .product .photo {
  width:260px; height: 260px;
  margin: auto; padding-top:14px; box-sizing: border-box;
  background-repeat: no-repeat;
  background-size:contain;
  background-position:50% 50%;
}

.product_area dl {
  width:100%; height: auto;
  margin-top:24px;
}

.product_area dt {
  width:100%; height: auto;
  margin: auto;
  font-weight: 600;
  text-align:center;
}

.product_area dd {
  width:230px; height: auto;
  margin:auto; margin-top: 16px; 
  font-size:17px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
}

.product_01_photo {
  background-image: url("../../../img/product_01.jpg");
}

.product_02_photo {
  background-image: url("../../../img/product_02.jpg");

}

.product_03_photo {
  background-image: url("../../../img/product_03.jpg");
}

.product_04_photo {
  background-image: url("../../../img/product_04.jpg");
}

.product_05_photo {
  background-image: url("../../../img/product_05.jpg");
}

.product_06_photo {
  background-image: url("../../../img/product_06.jpg");
}


.line_focus {
  position:absolute; top:0; left:0;
  width: 100%; height:100%;
}

.line_focus div {
  position:absolute; top:0; left:0;
  width:100%; height:100%;
}

.line_focus div:before,
.line_focus div::before,
.line_focus div:after,
.line_focus div::after {
  content:""; display:block;
  position:absolute;
  background-color:#333;
  transition:all 400ms ease;
}

.line1:before, .linel::before {
  width:0; height:2.5px; top:0; left:0;
}
.line1:after, .line1::after {
  width:2.5px; height:0; top:0; left:0;
}
.line2:before, .line2::before {
  width:0; height:2.5px; bottom:0; right:0; 
}
.line2:after, .line2::after {
  width:2.5px; height:0; bottom:0; right:0;
}

li:hover .line1:before,
li:hover .line1::before { width: 100%; }
li:hover .line1:after,
li:hover .line1::after { height:100%; }
li:hover .line2:before,
li:hover .line2::before { width: 100%;}
li:hover .line2:after,
li:hover .line2::after { height:100%; }


.buy_btn_wrap {
  width: 100%; height: 40px;
  margin-top: 90px;
}

.buy_btn_wrap > .buy_btn {
  width:170px; height: 40px;
  margin: auto;
}


/* #snsBox ----------------------------------------------- */

#snsBox {
  --snsLength:10;

  width:100%; height:880px;
  padding:150px 0; box-sizing: border-box;
  background-image:url("../../../img/coffee_gr.jpg");
  background-repeat: no-repeat;
  background-size:100% auto;
  background-position:50% 50%;
}

.sns_innerwrap {
  width: 100%; height: 100%;
}

.sns_innerwrap > .headline {
  margin-bottom:110px;
  color:#fff;
  font-size: 64px;
  font-weight: 500;
}

.sns_photo {
  overflow:hidden;
  width:100%; height: 310px;
}

.sns_photo > ul {
  width:3300px;
  /* width:calc(300px * (var(--snsLength) + 1));  */
  height: 300px;
}

.sns_photo > ul > li {
  float:left;
  width:300px;
  height: 300px;
  margin-left:25px;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.3);
}

.sns_photo > ul > li:first-child {
  margin-left: 0;
}

.sns_photo li a {
  display:block;
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:50% 50%;
}

.sns_photo li a:focus{
  outline: 0;
 border: 3px solid #fff; box-sizing: border-box;
}

.sns_photo li:first-child > a {
  margin-left:0;
  background-image: url("../../../img/sns_photo_04.png");
}

.sns_photo li:nth-child(2) > a {
  background-image: url("../../../img/sns_photo_01.png");
}

.sns_photo li:nth-child(3) > a {
  background-image: url("../../../img/sns_photo_05.png");
}

.sns_photo li:nth-child(4) > a {
  background-image: url("../../../img/sns_photo_02.png");
}

.sns_photo li:nth-child(5) > a {
  background-image: url("../../../img/sns_photo_03.png");
}

.sns_photo li:nth-child(6) > a {
  background-image: url("../../../img/sns_photo_06.png");
}

.sns_photo li:nth-child(7) > a {
  background-image: url("../../../img/sns_photo_07.png");
}

.sns_photo li:nth-child(8) > a {
  background-image: url("../../../img/sns_photo_08.png");
}

/* #footBox --------------------------------------- */

.footBox_innerwrap {
  padding:70px 220px; box-sizing: border-box;
}

}