/* project_001_illycoffee_main_320.css */

@media screen and (max-width:767px) {
 /* basic ---------------------------------------- */
 .innerwrap {
  width: 100%; height: 100%;
}

.mob_none { display: none;}

 .button {
  display:block;
  width:100%; height: 100%;
  background-color:#d12420;
  font-size:15px; color:#fff;
  text-align:center; 
  line-height: 2.1;
  }
  .button:hover{ border:1.5px solid #d12420; box-sizing: border-box;}
  .button:hover,
  .button:focus {
  background-color: #fff;
  color:#d12420;
  font-weight: 600;
  line-height: 2;
  outline: 0;
  transition:all 300ms ease;
  }
  .button:focus {
  font-size: 17px;
  outline: 2px solid #d12420;
  }

  /* #headBox --------------------------------------- */

  .headBox_innerwrap {
    padding:25px 30px; box-sizing:border-box; 
  }

  /* #viewBox --------------------------------- */
  
  #viewBox {
    width:100%; height: 550px;
  }

  .viewBox_innerwrap {
    position:relative;
  }

  #viewBox .indicator {
    position:absolute;
    bottom:24px; left:0; right: 0; z-index:100;
    width: 109px; height: 26px;
    margin:auto;
    padding:5px 14px; box-sizing:border-box;
  }

  .indicator > ul {
    width:100%; height: auto;
  }
  
  .indicator li {
    --i-size: 13px;
    float:left;
    width:13px; height: 13px;
    margin-right:14px;
    width:var(--i-size); height: var(--i-size);
  }

  .indicator li:last-child{ margin-right:0; }

.indicator li a {
  border:2px solid #595959;
  box-sizing: border-box;
  border-radius: 13px;
  border-radius: var(--i-size);
  background-color: #fff;
}

.indicator li.act a {
  background-color: #d12420;
  border:2px solid #d12420;
}

.view_area {
  overflow:hidden;
  width:100%; height: 100%;
}

.view_area ul {
  width:300%; width:calc(100% * 3);
  height: 100%;
}

.view_area ul > li {
  /* position:relative; */
  float:left;
  width:33.333333%; width: calc(100% / 3);
  height: 100%;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 70% 50%;
}

#view_01{ background-image:url("../../../img/ban_x1_nor_white.jpg");}
#view_02{ background-image: url("../../../img/main_01_white.jpg"); background-position: 80% 50%;}
#view_03{ background-image: url("../../../img/banner_03_white.jpg");}

.view_area dl {
  width: 100%; height:auto;
  margin-left:30px;
  margin-top: 90px;
  word-break: keep-all;
}

.view_area dt {
  width:300px; height: auto;
  font-size: 36px; font-weight: 600;
  line-height: 1.4;
}

.view_area dd:first-of-type {
  width:100%; height: auto;
  margin-top: 14px;
  font-size:25px; font-weight: 600;
  line-height: 1.2;
}

.view_area dd:nth-of-type(2) {
  width:260px; height: auto;
  margin-top: 20px;
  line-height: 1.5;
}

.view_area dd:last-of-type {
  width:110px; height: 34px;
  margin-top: 30px;
}


/* #introBox --------------------------------------- */

#introBox {
  width:100%; height:auto;
  background-color:#fff;
}

.introBox_innerwrap {
  padding:70px 30px 100px 30px; box-sizing: border-box;
}


.intro_part {
  width:100%; height: auto;
}

.intro_photo {
  width:100%; height: 70vw;
  margin-top:50px;
  background-image:url("../../../img/illy_coffee.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:50% 68%;
}
.intro_photo_box { 
  display:none;
}

.intro_part > dl {
  width:100%; height: auto;
  margin-top: 50px;
  /* word-break: keep-all; */
  text-align:justify;
}

.intro_part dt {
  width: 100%; height: auto;
  font-size:22.5px; font-weight: 600;
  line-height: 1.6;
}

.intro_part dd:first-of-type {
  width: 100%; height: auto;
  margin-top:30px;
  line-height: 1.5;
}

.intro_part dd:last-of-type {
  width:110px; height: 34px;
  margin:auto;
  margin-top: 50px;
}

/* #qualityBox -------------------------------------- */

#qualityBox {
  width:100%; height:auto;
  background-color: #eaeaea;
}

.qualityBox_innerwrap {
  padding:70px 30px 100px 30px; box-sizing: border-box;
}

.qualityBox_innerwrap > .headline {
  margin-bottom:60px;
}

.quality_area {
  position:relative;
  overflow: hidden;
  width:100%; height: auto;
}

.quality_area > ul {
  width: 600%; height: 100%;
}

.quality_part {
  float:left;
  width:16.666666%; height: 100%;
}

 .quality_part_up {
  width:100%; height: auto;
}

.quality_photo {
  width:170px; height: 170px;
  margin: auto;
  border-radius: 170px;  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 150% auto;
  background-position:50% 50%;
  background-color:#fff;
}

.quality_photo_01 {
  background-image:url("../../../img/quality_mark_01.jpg");
  background-size: 175% auto;
  background-position:50% 5px;
}
.quality_photo_02 {
  background-image: url("../../../img/quality_mark_02.jpg");
}
.quality_photo_03 {
  background-image: url("../../../img/quality_mark_03.jpg");
}
.quality_photo_04 {
  background-image: url("../../../img/quality_mark_04.jpg");
}
.quality_photo_05 {
  background-image: url("../../../img/quality_mark_05.jpg");
  background-size: 200% auto;
}
.quality_photo_06 {
  background-image: url("../../../img/quality_mark_06.jpg");
  background-size: 230% auto;
}


.quality_view_button {
  position:absolute; top:70px;
  width:100%; height: auto;
  margin: auto;
}

.quality_view_button button {
  width:20px; height: 40px;
  padding: 0;
}

.next_btn {
  display: block;
  float:right;
  background-image: url("../../../icon/right_mobile_byme_gray.svg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:50% 50%;
}

.prev_btn{
  display: block;
  float:left;
  background-image: url("../../../icon/left_mobile_byme_gray.svg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:50% 50%;
}

.q_button:hover {
  width:30px; height: 50px;
}

.quality_part_up dl {
  width: 100%; height: auto;
  margin:auto;
  margin-top: 40px;
}

.quality_part_up dt {
  width: 100%; height: auto;
  font-size: 25px; font-weight: 600;
  text-align:center;
  text-transform: capitalize;
  line-height: 1.6;
}

.quality_part_up dd {
  width: 88%; height: auto;
  margin:auto;
  margin-top:30px;
  text-align: justify;
  line-height: 1.5;
}

.quality_part_down {
  width:100%; height: auto;
  margin:auto;
}

.quality_part_down p {
  display: none;
}

/* .more_btn {
  width:110px; height: 34px;
  margin:auto;
  margin-top: 50px;
}

.more_btn a {
  display:block;
  width:100%; height: 100%;
  background-color:#d12420;
  font-size:15px; color:#fff;
  text-align:center; 
  line-height: 2.1;
} */



/* #contentBox -------------------------------------------- */

#contentBox {
  width:100%; height: auto;
  background-color:#fff;
}

.contentBox_innerwrap {
  padding:70px 30px 100px 30px; box-sizing: border-box;
}

.contentBox_innerwrap .headline {
  margin-left: -10px;
  line-height: 1.5;
}

.content_part {
  width: 100%; height: auto;
  margin-top: 30px;
}

.content_part .photo {
  width:85%; height: 70vw;
  margin:auto;
  background-repeat: no-repeat;
  background-position:50% 50%;
}

.content_part_01 .photo_01 {
  background-image:url("../../../img/coffeecup_01.jpg");
  background-size:140% auto;
}

.content_part_01 dl {
  width: 100%; height: auto;
  margin-top: 50px;
}

.content_part_01 dt {
  width:100%; height: auto;
  font-size:25px; font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.6;
}

.content_part_01 dd {
  width:85%; height: auto;
  margin:auto;
  margin-top:30px;
  text-align:justify;
  line-height: 1.5;
}

.content_part_02 {
  margin-top: 100px;
}

.content_part_02 .photo_02 {
  background-image:url("../../../img/coffeebeans.jpg");
  background-size:120% auto;
}

.content_part_02 ul {
  width: 85%; height: auto;
  margin:auto;
  margin-top: 40px;
}

.content_part_02 li {
  width:100%; height:auto;
  text-align: justify;
}

.content_part_02 li:first-child {
  font-size:25px; font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.6;
}

.content_part_02 li span {
  text-transform: lowercase;
}

.content_part_02 li:nth-child(2), 
.content_part_02 li:nth-child(3), 
.content_part_02 li:nth-child(4),
.content_part_02 li:nth-child(5) {
  margin:auto;
  margin-top:15px; margin-left: 10px;
  line-height: 1.5;
  list-style:disc;
}

.content_part_02 li:nth-child(2) {
  margin-top:30px;
}

.contentBox_innerwrap .btn {
  width:110px; height: 34px;
  margin:auto; margin-top: 50px;
}


/* #productBox ------------------------------------------------- */

#productBox {
  width:100%; height:auto;
}

.titleBox {
  width: 100%; height: 220px;
  padding:50px 30px; box-sizing: border-box;
  background-image:url("../../../img/productbox_bg_bk.jpg");
  background-repeat: no-repeat;
  background-size: auto 500px;
  background-position: 54% 30%;
}

.title_innerBox {
  width:100%; height: 100%;
  margin:auto;
  border:2px solid #fff; box-sizing: border-box;
}

.title_innerBox > .headline {
  margin-top:34px; margin-left: -4px;
  color:#fff;
  font-weight: 300;
}

/* // titleBox ------------------- */

.product_area {
  width: 100%; height: auto;
  padding:30px 15px 120px; box-sizing: border-box;
}

.product_area > .product_list {
  width: 100%; height: auto;
}

.product_list > li {
  float: left;
  width:50%;
  height: 60vw; min-height:290px;
  padding:14px 10px; 
  box-sizing: border-box;
}


.product_area > .product_list a {
  display: block;
  width: 100%; height: 100%;
  padding:14px 10px;
  /* border:1px solid #ddd;  */
  box-sizing: border-box;
}



.product_area .product .photo {
  width:83%; height: 35vw;
  margin: auto;
  background-repeat: no-repeat;
  background-size:contain;
  background-position:50% 50%;
}

.product_area dl {
  width:100%; height: auto;
  margin-top:30px;
  font-size:15px;
  font-weight: 500;
  text-align:left;
}

.product_area dt {
  width:100%; height: auto;
  line-height: 1.5;
  /* white-space: nowrap; */
  /* overflow-y:hidden; */
  /* text-overflow:ellipsis; */
  font-weight: 700;
  word-break:keep-all;
}

.product_area dd {
  width:100%; height: auto;
  margin-top: 20px;
}


.product_01_photo {
  background-image: url("../../../img/product_01.jpg");
}

.product_02_photo {
  background-image: url("../../../img/product_02.jpg");
}

.product_03_photo {
  background-image: url("../../../img/product_03.jpg");
}

.product_04_photo {
  background-image: url("../../../img/product_04.jpg");
}

.product_05_photo {
  background-image: url("../../../img/product_05.jpg");
}

.product_06_photo {
  background-image: url("../../../img/product_06.jpg");
}


.buy_btn_wrap {
  width: 100%; height: auto;
  margin-top: 50px;
}

.buy_btn_wrap > .buy_btn {
  width:110px; height: 34px;
  margin:auto;
}

/* #snsBox ----------------------------------------------- */

#snsBox {
  --snsLength:10;

  width:100%; height:400px;
  background-image:url("../../../img/coffee_gr.jpg");
  background-repeat: no-repeat;
  background-size:100% auto;
  background-position:50% 50%;
}

.sns_innerwrap {
  padding-top:66px; box-sizing: border-box;
}

.sns_innerwrap > .headline {
  margin-bottom:62px;
  color:#fff;
  font-weight: 500;
}

.sns_photo {
  overflow:hidden;
  width:100%; height: auto;
}

.sns_photo > ul {
  width:1070px; height: auto;
}

.sns_photo > ul > li {
  float:left;
  width:110px;
  height: 110px;
  margin-right:10px;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.3);
}

.sns_photo li a {
  display:block;
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:50% 50%;
}

.sns_photo li a:focus{
  outline: 0;
 border: 3px solid #fff; box-sizing: border-box;
}

.sns_photo_01 > a {
  margin-left:0;
  background-image: url("../../../img/sns_photo_04.png");
}

.sns_photo_02  > a {
  background-image: url("../../../img/sns_photo_01.png");
}

.sns_photo_03  > a {
  background-image: url("../../../img/sns_photo_05.png");
}

.sns_photo_04  > a {
  background-image: url("../../../img/sns_photo_02.png");
}

.sns_photo_05  > a {
  background-image: url("../../../img/sns_photo_03.png");
}

.sns_photo_06  > a {
  background-image: url("../../../img/sns_photo_06.png");
}

.sns_photo_07  > a {
  background-image: url("../../../img/sns_photo_07.png");
}

.sns_photo_08  > a {
  background-image: url("../../../img/sns_photo_08.png");
}



/* #footBox --------------------------------------- */

.footBox_innerwrap {
  padding:70px 30px; box-sizing: border-box;
}

}


@media screen and (min-width:500px) and (max-width:767px){
  
  .product_list > li {
    height: 55vw;
  }

  .product_area .product .photo {
    width:75%; height: 35vw;
    margin-bottom: 16px;
  }

  .product_area dl {
    width:80%;
    margin:auto;
  }

}