/* qualityBox_1920.css */

#qualityBox {
  width:100%; height:1080px;
  padding:170px 0; box-sizing: border-box;
  background-color: #eaeaea;
}

.qualityBox_innerwrap {
  width:100%; height: 100%;
}

.qualityBox_innerwrap > h3 {
  margin-bottom:70px;
}

.quality_area {
  position:relative;
  overflow:hidden;
  width:980px; height: 490px;
  margin-top: 70px;
  margin:auto;
}

.quality_area > ul {
  width: 700%; height: 100%;
}

.quality_area li {
  float:left;
  width: 980px; height: 490px;
}

.quality_part_01 {
  width:980px; height: 490px;
  padding:90px 60px 50px 60px; box-sizing: border-box;
  margin:auto;
  background-color:#fff;
}

.quality_part_up {
  width:100%; height: auto;
  margin:auto;
}

.quality_photo_01 {
  float: left;
  width:240px; height: 220px;
  margin-top: 10px;
  border-radius: 220px;  box-sizing: border-box;
  background-image:url("../../../img/quality_01.png");
  background-repeat: no-repeat;
  background-size: 150% auto;
  background-position:40% 70%;
}

.quality_part_up dl {
  float: right;
  width: 490px; height: auto;
  margin-top: 5px; margin-left: 90px;
}

.quality_part_up dt {
  width: 100%; height: auto;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;;
  font-size: 26px; font-weight: 600;
  text-transform: capitalize;
}

.quality_part_up dd {
  width: 100%; height: auto;
  line-height: 1.5;
}

.quality_part_down {
  position:absolute; left:0; right: 0; top:90%;
  width:100%; height: auto;
  padding:0 80px 0 120px; box-sizing: border-box;
  transform:translateY(-90%)
}

.quality_part_down p {
  float:left;
  display: block;
  width: 50px; height:auto;
  margin-top:8px;
  font-size: 18px; font-weight: 500;
}

.quality_view_button {
  float:right;
  width:78px; height: auto;
}

.quality_view_button button {
  width:35px; height: 35px;
  background-color: #d12420;
  color:#fff;
}

.next_btn {
  float:right;
  margin-left:8px;
  background-image: url("../../../icon/caret_right_solid.svg");
  background-repeat: no-repeat;
  background-size: 30% auto;
  background-position:55% 50%;
}

.prev_btn{
  float:left;
  background-image: url("../../../icon/caret_left_solid.svg");
  background-repeat: no-repeat;
  background-size: 30% auto;
  background-position:45% 50%;
}

/* .quality_part_box {
  position:absolute; top:23%; right:290px;
  width:950px; height: 460px;
  border:2px solid #d12420; box-sizing: border-box;
} */