/* ../src/viewBox.css */

#viewBox {
  width:100%; height: 900px;
}

.viewBox_innerwrap {
  position:relative;
  width:100%; height: 100%;
}

#viewBox .indicator {
  position:absolute;
  bottom:1.5rem; left:0; right: 0; z-index:100;
  width: 164px; height: 26px;
  margin:auto;
  background-color: rgb(124, 124, 124, 0.5);
  border-radius: 24px;
  padding:5px 14px; box-sizing:border-box;
}

.indicator > ul {
  width:100%; height: auto;
}

.indicator li {
  --i-size: 16px;
  float:left;
  width:16px; height: 16px;
  margin-right:14px;
  width:var(--i-size); height: var(--i-size);
}

.indicator li:last-child{ margin-right:0; }

.indicator li a {
  border-radius: 16px;
  border-radius: var(--i-size);
  background-color: #fff;
}

.indicator li.act a {
  background-color: #d12420;
}

.view_area {
  overflow:hidden;
  width:100%; height: 100%;
}

.view_area ul {
  width:500%; width:calc(100% * 5);
  height: 100%;
}

.view_area ul > li {
  position:relative;
  float:left;
  width:20%; width: calc(100% / 5);
  height: 100%;
}

.view_area > ul > li:nth-child(1){
  background-image:url("../../../img/main_01.jpg");
  background-repeat: no-repeat;
  background-size:110% auto;
  background-position: 50% 50%;
}
.view_area > ul > li:nth-child(2){ background-color: #805941; }
.view_area > ul > li:nth-child(3){ background-color: #e6ddd8; }
.view_area > ul > li:nth-child(4){ background-color: #d12420; }
.view_area > ul > li:nth-child(5){ background-color: #e60012; }

.view_area dl {
  position:absolute; left:0; right:0; top:55%;
  width: 70%; height:auto;
  margin:auto; transform:translateY(-55%);
}

.view_area dt {
  width:100%; height: auto;
  font-size: 52px; font-weight: 600;
  /* font-family: 'Kaushan Script', cursive;
  font-size:66px; font-weight: 600;
  color: #d12420; */
  text-transform: capitalize;
}

.view_area dt span {
  text-transform: lowercase;
}

.view_area dd:first-of-type {
  width:100%; height: auto;
  margin-top: 50px;
  font-size: 22px;
  line-height: 32px;
}

.view_area  dd:last-of-type {
  width:170px; height: 40px;
  margin-top: 80px;
}

#view_01 dd:first-of-type {
  width:100%; height: auto;
  margin-top: 30px;
  font-size:36px; font-weight: 500;
  text-transform: capitalize;
}

#view_01 dd:nth-of-type(2) {
  width:100%; height: auto;
  margin-top: 50px;
  font-size: 22px;
  line-height: 32px;
}