/* ../src/productBox.css */

 #productBox {
  --productLength:10;

  width:100%; height:auto;
  background-color:#fff;
}

.titleBox {
  width: 100%; height: 400px;
  padding:80px 0px; box-sizing: border-box;
  background-image:url("../../img/productbox_bg_bk.jpg");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 70% 30%;
}

.title_innerBox {
  width:1160px; height: 240px;
  margin:auto;
  padding:90px 0px; box-sizing: border-box;
  border:2px solid #fff;
}

.title_innerBox > h3 {
  color:#fff;
  font-weight: 300;
}

/* // titleBox ------------------- */


.product_area {
  width: 100%; height: 980px;
  margin:auto; padding-top: 50px; box-sizing: border-box;
}

.product_list {
  overflow:hidden;
  width: 1160px; height: 600px;
  margin:auto; margin-top: 50px;
}

.product_list ul {
  width: 1100%; width:calc(100% * (var(--productLength)+1));
  height: 100%;
}

.product_list li {
  float: left;
  width:360px; height: 100%;
  margin-left: 40px;
}

.product_list li:first-child {
  margin-left: 0;
}

.product_list li > div {
  width:360px; height: 340px;
  /* background-color: #333; */
}

.product_list dl {
  width:100%; height: auto;
  margin-top:30px;
}

.product_list dt {
  width:100%; height: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.35rem; font-weight: 600;
  line-height: 1.7;
  text-align:center;
}

.product_list dd:first-of-type {
  width:100%; height: auto;
  margin-top: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2rem; font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.product_list dd:last-of-type {
  width:90%; height: auto;
  margin:auto; margin-top: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2rem; font-weight: 400;
  line-height: 1.5;
}

.product_01_photo {
  width: 100%; height: 100%;
  background-image: url("../../img/product_01.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  background-position:50% 50%;
}

.product_02_photo {
  width: 100%; height: 100%;
  background-image: url("../../img/product_02.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  background-position:50% 50%;
}

.product_03_photo {
  width: 100%; height: 100%;
  background-image: url("../../img/product_03.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  background-position:50% 50%;
}



.product_area .btn {
  width:100%; height: 40px;
  margin-top: 62px;
  text-align:center;
}

.product_area .btn a {
  display:inline-block;
  width:170px; height: 100%;
  background-color:#d12420;
  font-size:1.1rem; color:#fff;
  text-align:center;
  line-height: 36px;
}