/* project_001_illycoffee_sub_brand_1600.css */

@media screen and (min-width:1600px) {
  html, body {
    font-family: 'Noto Sans KR'; 
    color:#333;
    font-size: 19px; 
    font-weight: 400;
    /* overflow-x: hidden; */
    width: 100%; height: auto;
  }
  
  #wrap {
    width: 100%; height: auto;
    margin:auto;
  }
  
  .headline {
    width: 100%; height: auto;
    font-size:60px; color:#d12420;
    text-align: center;
    text-transform:capitalize;
    font-family: 'Kaushan Script', cursive;
    font-weight: 600;
  }
  
  .headline span {
    text-transform: lowercase;
  }
  
  abbr {
    text-decoration: none;
  }
  
  dd > a {
    display:block;
    width:100%; height: 100%;
    background-color:#d12420;
    font-size:20px; color:#fff;
    text-align:center; 
    line-height: 36px;
  }
  
  /* ------------------------------------------- */
  
  /* #headBox ------------------------------------ */
  
  #headBox {
    position:relative; z-index: 100;
    width:100%; height:90px;
    border-bottom:2.2px solid #d12420; 
    background-color:#fff;
    box-shadow: 0 10px 20px #333;
  }
  
  .headBox_innerwrap {
    width: 1600px; height: 100%;
    margin:auto;
    padding:0 90px 0 220px; box-sizing:border-box; 
  }
  
  h1 {
    float:left;
    width:55px; height: 55px;
    margin: 17.5px 0;
  }
  
  h1 > a {
    display:block;
    width:100%; height:100%;
    background-image:url("../../../../icon/illy_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }
  
  #navBox {
    float: right;
    width:844px; height:auto;
    margin-top:30px;
  }
  
  nav {
    float:left;
    height: 36px;
  }
  
  nav ul {
    width:100%; height: 100%;
  }
  
  nav li {
    position:relative;
    float:left;
    height: 100%;
  }
  
  nav a {
    display: block;
    width: 100%; height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size:18px; color:#333; font-weight: 500;
    text-align:center; text-transform: uppercase;
    line-height: 36px;
  }
  
  nav dl {
    position:absolute;
    width: 100%; height: auto;
  }
  
  nav dt a {
    margin: auto;
  }
  
  nav dd {
    width: 100%; height: 42px;
    background-color: #fff;
  }
  
  nav dd:first-of-type {
    margin-top:10px;
  }
  
  
  nav dd a {
    display:block;
    width: 100%; height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:15px; color:#333; font-weight: 400;
    background-color:#fff;
    text-align:center; text-transform: capitalize;
  }
  
  #gnbBox {
    width:586px;
  }
  
  #gnbBox li {
    float:left;
    width: 110px;
    margin-left:8px;
    /* float과 margin:auto는 같이 쓸수 없음 */
  }
  
  #gnbBox li:first-child {
    margin-left: 0;
  }
  
  
  #gnbBox li:nth-child(1) dt a {
    width:80px; margin:auto;
  }
  #gnbBox li:nth-child(2) dt a {
    width:66px; margin:auto;
  }
  #gnbBox li:nth-child(3) dt a {
    width:68px; margin:auto;
  }
  #gnbBox li:nth-child(4) dt a {
    width:56px; margin:auto;
  }
  #gnbBox li:nth-child(5) a {
    width:68px; margin:auto;
  }
  
  #gnbBox li dt a:hover {
    border-bottom:2.2px solid #d12420;
    box-sizing: border-box;
    color:#d12420;
  }
  
  #gnbBox li dd a:hover {
    /* background-color:#d12420; */
    color:#d12420;
  }
  
  
  #unbBox {
    width: 234px;
    margin-left: 24px;
  }
  
  #unbBox li:nth-child(2),
  #unbBox li:nth-child(3),  
  #unbBox li:nth-child(4)  {
    margin-left: 22px;
  }
  
  #unbBox li a {
    margin:auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  } 
  
  #unbBox li:first-child a {
    width: 90px; height: 100%;
    font-size: 16px; font-weight: 500;
    line-height: 34px;
  }
  #unbBox li:first-child a span {
    text-transform: capitalize;
  }
  
  #unbBox li:nth-child(2) a {
    width: 25px; height: 25px;
    margin-top: 5px;
    background-image: url("../../../../icon/search_byme.svg");
  }
  
  #unbBox li:nth-child(3) a {
    width: 25px; height: 25px;
    margin-top: 5px;
    background-image: url("../../../../icon/user02.svg");
  }
  
  #unbBox li:nth-child(4) a {
    width: 28px; height: 28px;
    margin-top: 3.5px;
    background-image: url("../../../../icon/shoppingbag_byme.svg");
  }
  

/* #viewBox ------------------------------------------------ */

#viewBox {
  width:100%; height:810px;
}

.view_area {
  width: 100%; height: 100%;
  background-image: url("../../../../img/coffee_cup_02_bk.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:50% 25%;
}

.view_area dl {
  width:100%; height: auto;
  padding-top:250px; box-sizing: border-box;
  color: #fff;
  text-align:center;
}
.view_area dt {
  width:100%; height: auto;
  font-size: 74px; font-weight: 600;
  font-family: 'Kaushan Script', cursive;
}
.view_area dd {
  width:100%; height: auto;
  margin-top:120px;
  line-height:1.6;
}

/* #introBox */

#introBox {
  width:100%; height:900px;
  background-color:#fff;
}

.introBox_innerwrap {
  width:1600px; height: 100%;
  margin:auto;
  padding:150px 150px 0 120px; box-sizing: border-box;
}

#introBox .headline {
  margin-right:40px;
}

.intro_part {
  width:100%; height: auto;
}

.intro_photo {
  float:left;
  width: 530px; height: 380px;
  margin-top:120px;
  background-image:url("../../../../img/illy_coffee.jpg");
  background-repeat: no-repeat;
  background-size:120% auto;
  background-position:50% 68%;
}

.intro_part > dl {
  float:right;
  width:620px; height: auto;
  margin-top: 160px;
}

.intro_part dt {
  width: 100%; height: auto;
  font-size:22.5px; font-weight: 600;
}

.intro_part dd {
  width: 100%; height: auto;
  margin-top:36px;
  line-height: 1.5;
}

/* #listBox --------------------------------------------- */

#listBox {
  width: 100%; height:880px;
  background-color:#eaeaea;
}

.ph_part_innerwrap {
  width:1600px; height: auto;
  margin:auto;
  padding:160px 150px 0 150px; box-sizing: border-box;
}

.ph_part{
  float:left;
  width:360px; height: auto;
  margin-top: 180px;
  margin-left:110px;
}

.ph_part:first-of-type {
  margin-left:0;
}

.ph_part dl{
  width:100%; height: auto;
}

.ph_part dt {
  width:100%; height: auto;
  /* font-family:'Roboto', sans-serif; */
  font-size:28px; color:#d12420;
  font-weight: 600;
  text-align: center; text-transform:capitalize;
}

.ph_part dd {
  width:100%; height: auto;
  margin-top: 30px;
  line-height: 1.5;
}

.ph_part dd span {
  font-weight: 500;
}

/* contentBox ----------------------------------- */

#contentBox {
  width:100%; height:auto;
}

.title_box {
  width:100%; height:550px;
  padding:70px 220px; box-sizing:border-box;
  background-repeat:no-repeat;
  background-position:50% 50%;
}

.title_innerbox {
  width:100%; height:100%;
  padding-top:120px; box-sizing: border-box;
  border:2px solid #fff; box-sizing:border-box;
}

.con_title_box dl {
  width:100%; height: auto;
}

.con_title_box dt {
  width:100%; height: auto;
  color:#fff;
  font-size: 64px;
  font-weight: 500;
}

.con_title_box dd {
  margin-top:66px;
  color:#fff;
  line-height: 1.6;
  text-align:center;
}

.con_title_box {
  background-image:url("../../../../img/coffeebeans_bg.jpg");
  background-size:cover;
  background-position:50% 50%;
}
/* // .con_title_box -------------------------------------- */

.content_area{
  width:100%; height:2000px;
  background-color: #fff;
}

.conarea_innerwrap {
  width:1600px; height: 100%;
  margin:auto;
  padding:140px 350px; box-sizing: border-box;
}

.content_area .headline {
  margin-top:10px;
  font-size:58px;
}

.content_part {
  width: 100%; height: 500px;
  margin-top: 50px;
}

.content_part dl {
  float:right;
  width: 440px; height: auto;
  margin-top: 140px;
}

.content_part dt {
  width:100%; height: auto;
  margin-bottom: 40px;
  font-size:28px; font-weight: 600;
  text-transform: capitalize;
}

.content_part dd {
  width:100%; height: auto;
  line-height: 1.6;
}

.content_part .photo {
  float: left;
  width:360px; height: 340px;
  margin-top: 80px;
  background-repeat: no-repeat;
  background-position:50% 50%;
}

.content_part span {
  text-transform: lowercase;
}

.content_part_01 .photo_01 {
  background-image:url("../../../../img/coffeecup_01.jpg");
  background-size:140% auto;
}


.content_part_02 {
  width: 100%; height: 500px;
  margin-top: 30px;
}

.content_part_02 .photo_02 {
  float: right;
  margin-top: 60px;
  background-image:url("../../../../img/coffeebeans.jpg");
  background-size:120% auto;
}

.content_part_02 ul {
  float:left;
  width: 420px; height: auto;
  margin-top: 100px;
}

.content_part_02 li:first-child {
  width:100%; height: auto;
  margin-bottom: 40px;
  font-size:28px; font-weight: 600;
  text-transform: capitalize;
}

.content_part_02 li:nth-child(2), 
.content_part_02 li:nth-child(3), 
.content_part_02 li:nth-child(4),
.content_part_02 li:nth-child(5) {
  width:100%; height: auto;
  margin-top:10px;
  line-height: 1.5;
  list-style:disc; 
  /* list-style-image: ; */
}
 
.content_part_02 dd > span{
  text-indent: 15px;
}

.content_part_03 dl{
  margin-top:80px;
}
.content_part_03 .photo_03{
  margin-top: 10px;
  background-image:url("../../../../img/coffee_powder.jpg");
  background-size:110% auto;
  background-position: 100% 50%;
}

/* #qualityBox */

#qualityBox {
  width:100%; height:auto;
}


.qual_title_box {
  background-image:url("../../../../img/coffee_plant.jpg");
  background-size:cover;
  background-position:50% 40%;
}

.qual_title_box .headline {
  margin-top:20px;
  color:#fff;
  font-size: 64px;
  font-weight: 500;
}

.qual_title_box p {
  margin-top:86px;
  color:#fff;
  line-height: 1.6;
  text-align:center;
}
/* // .qual_title_box ---------------------------- */

.quality_area{
  width:100%; height:2700px;
  /* background-image:url("../../../../img/quality_bg.jpg");
  background-repeat:no-repeat;
  background-size: contain;
  background-position:50% 50%; */
}

.qualarea_innerwrap {
  width: 1600px; height: 100%;
  margin:auto;
  padding:140px 260px 0 200px; box-sizing: border-box;
}

.quality_part {
  width:100%; height:300px;
  margin-bottom: 100px;
}
.quality_part:first-child {
  margin-bottom: 130px;
}

.qual_mark {
  float:left;
  width:300px; height:300px;
  border-radius:100%;
  background-color:#fff;
  background-repeat:no-repeat;
  background-size: 180% auto;
  background-position: 50% 50%;
}

.qual_mark_01 {
  background-image:url("../../../../img/quality_mark_01.jpg");
  background-size: 170% auto;
  background-position: 50% 40%;
}
.qual_mark_02 {
  background-image:url("../../../../img/quality_mark_02.jpg");
}
.qual_mark_03 {
  background-image:url("../../../../img/quality_mark_03.jpg");
}
.qual_mark_04 {
  background-image:url("../../../../img/quality_mark_04.jpg");
}
.qual_mark_05 {
  background-image:url("../../../../img/quality_mark_05.jpg");
  background-size: 170% auto;
}
.qual_mark_06 {
  background-image:url("../../../../img/quality_mark_06.jpg");
  background-size: 200% auto;
}


.qual_content {
  float:right;
  width:580px; height:auto;
}

.qual_content_01 { margin-top:50px; }
.qual_content_02 { margin-top:70px;}
.qual_content_03 { margin-top:50px;}
.qual_content_04 { margin-top:56px;}
.qual_content_05 { margin-top:54px;}
.qual_content_06 { margin-top:60px;}

.qual_content dl {
  width:100%; height:auto;
}

.qual_content dt {
  width:100%; height: auto;
  margin-bottom: 40px;
  /* font-family : 'Roboto'; */
  font-size:28px; font-weight: 600;
}

.qual_content dd {
  width:100%; height:auto;
  line-height:1.6;
}


/* #footBox -------------------------------------- */
#footBox {
  width:100%; height:440px;
  background-color:#434343;
}

.footBox_innerwrap {
  width: 1600px; height: 100%;
  margin:auto;
  padding:70px 220px; box-sizing: border-box;
}

#footBox .logo {
  width:50px; height: 50px;
  margin:auto;
}

#footBox .logo > a {
  display:block;
  width:100%; height:100%;
  background-image:url("../../../../icon/illy_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.info_part {
  float:left;
  width: 660px; height: auto;
  margin-top: 70px;
}

.info_part > p {
  color:#fff; font-size:15px; font-weight: 400;
  line-height: 1.6;
}

.info_part p:last-of-type {
  text-transform: capitalize;
}

.info_part > p > span {
  text-transform: lowercase;
}

.info_part > p > a {
  display:inline-block;
  height: auto;
  text-decoration: underline;
}

.info_part > p:nth-of-type(2) > a {
  width: 67px;
}

.info_part > p:nth-of-type(4) > a {
  width: 97px;
}

.info_part > p:nth-of-type(5) > a:first-child {
  width: 112px;
}

.info_part > p:nth-of-type(5) > a:last-child {
  width: 58px;
}

.sns_part {
  float:right;
  width: 120px; height: auto;
  margin-top: 70px;
}

.sns_part p {
  width: 100%; height: auto;
  font-size: 17px; color:#fff; font-weight: 500;
  text-align: center; text-transform: capitalize;
}

.sns {
  width: 100%; height: auto;
}

.sns > div {
  float:left;
  width: 30px; height: 30px;
  margin-top:16px; margin-left: 22px;
}

.sns > div:nth-child(2) {
  margin-left: 16px;
}

.sns > div > a {
  display: block;
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.sns > div:nth-child(1) > a {
  background-image:url("../../../../icon/f_logo_white_1024.png") ;
}

.sns > div:nth-child(2) > a {
  margin-top: 1.5px;
  background-image:url("../../../../icon/insta_logo_white.svg") ;
}

.sns_part > .cs {
  width: 100%; height: 34px;
  margin-top:30px;
}

.sns_part > .cs > a {
  float:left;
  display:block;
  width: 100%; height: 100%;
  border:1px solid #fff;
  color:#fff;
  font-size:15px; text-align:center;
  line-height: 32px;
}


}