/* project_001_illycoffee_sub_brand_1280.css */

@media screen and (min-width:1280px) and (max-width:1599px) {
/* basic ------------------------------------------------- */
.pc_none{ display: none; }

.innerwrap {
  width: 1280px; height: 100%;
  margin:auto;
}

/* #headBox ------------------------------------ */

.headBox_innerwrap {
  padding:0 90px 0 150px; box-sizing:border-box; 
}

/* #viewBox ------------------------------------------------ */

#viewBox {
  width:100%; height:650px;
  background-image: url("../../../img/coffee_cup_02_bk.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:50% 25%;
}

.viewBox_innerwrap {
  padding:165px 190px 0; box-sizing: border-box;
}

.view_area {
  width: 100%; height: 100%;
}

.view_area dl {
  width:100%; height: auto;
  color: #fff;
  text-align:center;
  word-break:keep-all;
}
.view_area dt {
  width:100%; height: auto;
  font-size: 74px; font-weight: 600;
  font-family: 'Kaushan Script', cursive;
}
.view_area dd {
  width:100%; height: auto;
  margin-top:100px;
  line-height:1.6;
}

/* #introBox ------------------------------ */

#introBox {
  width:100%; height:800px;
  background-color:#fff;
}

.introBox_innerwrap {
  padding:140px 70px 140px 90px; box-sizing: border-box;
}

#introBox .headline {
  margin-right:40px;
}

.intro_part {
  width:100%; height: auto;
}

.intro_photo {
  float:left;
  width: 408px; height: 294px;
  margin-top:120px;
  background-image:url("../../../img/illy_coffee.jpg");
  background-repeat: no-repeat;
  background-size:120% auto;
  background-position:50% 68%;
}

.intro_part > dl {
  float:right;
  width:600px; height: auto;
  margin-top: 126px;
}

.intro_part dt {
  width: 100%; height: auto;
  font-size:22px; font-weight: 600;
}

.intro_part dd {
  width: 100%; height: auto;
  margin-top:36px;
  text-align: justify;
  line-height: 1.5;
}

/* #listBox --------------------------------------------- */

#listBox {
  width: 100%; height:800px;
  background-color:#eaeaea;
}

.ph_part_innerwrap {
  padding:140px 70px; box-sizing: border-box;
}

.ph_part{
  float:left;
  width:326.666666px; height: auto;
  margin-top: 180px;
  margin-left:80px;
}

.ph_part:first-of-type {
  margin-left:0;
}

.ph_part dl{
  width:100%; height: auto;
}

.ph_part dt {
  width:100%; height: auto;
  font-size:28px; color:#d12420;
  font-weight: 600;
  text-align: center; text-transform:capitalize;
}

.ph_part dd {
  width:100%; height: auto;
  margin-top: 30px;
  text-align: justify;
  line-height: 1.5;
}

.ph_part dd span {
  font-weight: 500;
}

/* contentBox ----------------------------------- */

#contentBox {
  width:100%; height:auto;
}

.title_box {
  width:100%; height:464px;
  padding:70px; box-sizing:border-box;
  background-repeat:no-repeat;
  background-position:50% 50%;
}

.title_innerbox {
  width:100%; height:100%;
  padding-top:74px; box-sizing: border-box;
  border:2px solid #fff; box-sizing:border-box;
}

.con_title_box dl {
  width:100%; height: auto;
}

.con_title_box dt {
  width:100%; height: auto;
  color:#fff;
  font-size: 64px;
  font-weight: 500;
}

.con_title_box dd {
  margin-top:62px;
  color:#fff;
  line-height: 1.6;
  text-align:center;
}

.con_title_box {
  background-image:url("../../../img/coffeebeans_bg.jpg");
  background-size:cover;
  background-position:50% 50%;
}
/* // .con_title_box -------------------------------------- */

.content_area{
  width:100%; height:auto;
  background-color: #fff;
}

.conarea_innerwrap {
  padding:140px 200px 90px; box-sizing: border-box;
}

.content_area .headline {
  margin-top:10px;
  font-size:58px;
}

.content_part {
  width: 100%; height: 500px;
  margin-top: 50px;
}

.content_part dl {
  float:right;
  width: 440px; height: auto;
  margin-top: 140px;
}

.content_part dt {
  width:100%; height: auto;
  margin-bottom: 40px;
  font-size:28px; font-weight: 600;
  text-transform: capitalize;
}

.content_part dd {
  width:100%; height: auto;
  text-align:justify;
  line-height: 1.6;
}

.content_part .photo {
  float: left;
  width:360px; height: 340px;
  margin-top: 80px;
  background-repeat: no-repeat;
  background-position:50% 50%;
}

.content_part span {
  text-transform: lowercase;
}

.content_part_01 .photo_01 {
  background-image:url("../../../img/coffeecup_01.jpg");
  background-size:140% auto;
}


.content_part_02 {
  width: 100%; height: 500px;
  margin-top: 30px;
}

.content_part_02 .photo_02 {
  float: right;
  margin-top: 60px;
  background-image:url("../../../img/coffeebeans.jpg");
  background-size:120% auto;
}

.content_part_02 ul {
  float:left;
  width: 410px; height: auto;
  margin-top: 100px;
}

.content_part_02 li {
  width:100%; height:auto;
  text-align: justify;
}

.content_part_02 li:first-child {
  width:100%; height: auto;
  margin-bottom: 40px;
  font-size:28px; font-weight: 600;
  text-transform: capitalize;
}

.content_part_02 li:nth-child(2), 
.content_part_02 li:nth-child(3), 
.content_part_02 li:nth-child(4),
.content_part_02 li:nth-child(5) {
  width:100%; height: auto;
  margin-top:10px;
  line-height: 1.5;
  list-style:disc; 
  /* list-style-image: ; */
}
 
.content_part_02 dd > span{
  text-indent: 15px;
}

.content_part_03 dl{
  margin-top:80px;
}
.content_part_03 .photo_03{
  margin-top: 10px;
  background-image:url("../../../img/coffee_powder.jpg");
  background-size:110% auto;
  background-position: 100% 50%;
}

/* #qualityBox */

#qualityBox {
  width:100%; height:auto;
}


.qual_title_box {
  background-image:url("../../../img/coffee_plant.jpg");
  background-size:cover;
  background-position:50% 40%;
}

.qual_title_box .headline {
  margin-top:16px;
  color:#fff;
  font-size: 64px;
  font-weight: 500;
}

.qual_title_box p {
  margin-top:66px;
  color:#fff;
  line-height: 1.6;
  text-align:center;
}
/* // .qual_title_box ---------------------------- */

.quality_area{
  width:100%; height:2700px;
}

.qualarea_innerwrap {
  padding:140px 166px; box-sizing: border-box;
}

.quality_part {
  width:100%; height:300px;
  margin-bottom: 100px;
}
.quality_part:first-child {
  margin-bottom: 130px;
}

.qual_mark {
  float:left;
  width:300px; height:300px;
  border-radius:100%;
  background-color:#fff;
  background-repeat:no-repeat;
  background-size: 180% auto;
  background-position: 50% 50%;
}

.qual_mark_01 {
  background-image:url("../../../img/quality_mark_01.jpg");
  background-size: 170% auto;
  background-position: 50% 40%;
}
.qual_mark_02 {
  background-image:url("../../../img/quality_mark_02.jpg");
}
.qual_mark_03 {
  background-image:url("../../../img/quality_mark_03.jpg");
}
.qual_mark_04 {
  background-image:url("../../../img/quality_mark_04.jpg");
}
.qual_mark_05 {
  background-image:url("../../../img/quality_mark_05.jpg");
  background-size: 170% auto;
}
.qual_mark_06 {
  background-image:url("../../../img/quality_mark_06.jpg");
  background-size: 200% auto;
}


.qual_content {
  float:right;
  width:490px; height:auto;
}

.qual_content_01 { margin-top:50px; }
.qual_content_02 { margin-top:70px;}
.qual_content_03 { margin-top:50px;}
.qual_content_04 { margin-top:56px;}
.qual_content_05 { margin-top:54px;}
.qual_content_06 { margin-top:60px;}

.qual_content dl {
  width:100%; height:auto;
}

.qual_content dt {
  width:100%; height: auto;
  margin-bottom: 40px;
  /* font-family : 'Roboto'; */
  font-size:28px; font-weight: 600;
}

.qual_content dd {
  width:100%; height:auto;
  text-align: justify;
  line-height:1.6;
}


/* #footBox -------------------------------------- */

.footBox_innerwrap {
  padding:70px 150px; box-sizing: border-box;
}


}