/* project_001_illycoffee_sub_brand_320.css */

@media screen and (max-width:767px) {
/* basic ------------------------------------------ */
.mob_none { display: none;}

.innerwrap {
  width: 100%; height: 100%;
}

/* #headBox --------------------------------------- */

#headBox {
  box-shadow: 0 0.625rem 1.25rem #333;
}

.headBox_innerwrap {
  padding:1.5625rem 1.875rem; box-sizing:border-box; 
}

/* #viewBox ------------------------------------------------ */

#viewBox {
  width:100%; height:auto;
  background-image: url("../../../img/live_happilly_white_coffee_cup_bk.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:50% 50%;
}

.viewBox_innerwrap {
  padding:4.375rem 1.875rem; box-sizing: border-box;
}

.view_area {
  width: 100%; height: 100%;
}

.view_area dl {
  width:100%; height: auto;
  color: #fff;
  text-align:center;
  word-break: keep-all;
}
.view_area dt {
  width:100%; height: auto;
  padding-left:0.625rem; box-sizing:border-box;
  font-size: 3rem; font-weight: 500;
  font-family: 'Kaushan Script', cursive;
}
.view_area dd {
  width:100%; height: auto;
  margin-top:3.125rem;
  line-height:1.6;
}

.view_area dd span {
  display:inline-block;
  width:100%; height: auto;
}


/* #introBox ----------------------------------------------- */

#introBox {
  width:100%; height:auto;
  background-color:#fff;
}

.introBox_innerwrap {
  padding:4.375rem 1.875rem 6.25rem 1.875rem; box-sizing: border-box;
}

#introBox .headline {
  margin-right:2.5rem;
}

.intro_part {
  width:100%; height: auto;
}

.intro_photo {
  width: 100%; height: 70vw;
  margin-top:3.125rem;
  background-image:url("../../../img/illy_coffee.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:50% 68%;
}

.intro_part > dl {
  width:100%; height: auto;
  margin-top: 3.125rem;
  text-align:justify;
}

.intro_part dt {
  width: 100%; height: auto;
  font-size:1.375rem; font-weight: 600;
  line-height: 1.6;
}

.intro_part dd {
  width: 100%; height: auto;
  margin-top:1.875rem;
  line-height: 1.5;
}

/* #listBox --------------------------------------------- */

#listBox {
  width: 100%; height:auto;
  background-color:#eaeaea;
}

.ph_part_innerwrap {
  padding:4.375rem 1.875rem 6.25rem 1.875rem; box-sizing: border-box;
}

.ph_part{
  width:90%; height: auto;
  margin:auto;
  margin-top: 6.25rem;
}

.ph_part dl{
  width:100%; height: auto;
}

.ph_part dt {
  width:100%; height: auto;
  font-size:1.5625rem; color:#d12420;
  font-weight: 600;
  text-align: center; text-transform:capitalize;
}

.ph_part dd {
  width:100%; height: auto;
  margin-top: 1.875rem;
  text-align: justify;
  line-height: 1.5;
}

.ph_part dd span {
  font-weight: 500;
}

/* contentBox ----------------------------------- */

#contentBox {
  width:100%; height:auto;
}

.title_box {
  width:100%; height:22.25rem;
  padding:3rem 0; box-sizing:border-box;
  background-repeat:no-repeat;
  background-position:50% 50%;
}

.title_innerbox {
  width:100%; height:100%;
  padding-top:3.125rem; box-sizing: border-box;
  border:0.0625rem solid #fff; box-sizing:border-box;
}

.con_title_box {
  background-image:url("../../../img/coffeebeans_bg.jpg");
  background-size:cover;
  background-position:50% 50%;
}  

.con_title_box dl {
  width:100%; height: auto;
}

.con_title_box dt {
  width:100%; height: auto;
  color:#fff;
  font-size: 2.25rem;
  font-weight: 400;
}

.con_title_box dd {
  width:100%; height:auto;
  margin-top:2.5rem;
  color:#fff;
  font-size:0.9375rem;
  line-height: 1.6;
  text-align:center;
}


/* // .con_title_box -------------------------------------- */

.content_area{
  width:100%; height:auto;
  background-color: #fff;
}

.conarea_innerwrap {
  padding:4.375rem 1.875rem 6.25rem 1.875rem; box-sizing: border-box;
}

.content_area .headline {
  margin-left: -0.625rem;
  font-size: 3rem;
  line-height: 1.5;
}

.content_part {
  width: 100%; height: auto;
  margin-top: 1.875rem;
}

.content_part .photo {
  width:85%; height: 70vw;
  margin:auto;
  background-repeat: no-repeat;
  background-position:50% 50%;
}

.content_part_01 .photo_01 {
  background-image:url("../../../img/coffeecup_01.jpg");
  background-size:140% auto;
}

.content_part dl {
  width: 100%; height: auto;
  margin-top: 3.125rem;
}

.content_part dt {
  width:100%; height: auto;
  font-size:1.5625rem; font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.6;
}

.content_part dd {
  width:85%; height: auto;
  margin:auto;
  margin-top:1.875rem;
  text-align:justify;
  line-height: 1.5;
}

.content_part span {
  text-transform: lowercase;
}

.content_part_02 {
  margin-top: 6.25rem;
}

.content_part_02 .photo_02 {
  background-image:url("../../../img/coffeebeans.jpg");
  background-size:120% auto;
}

.content_part_02 ul {
  width: 85%; height: auto;
  margin:auto;
  margin-top: 2.5rem;
}

.content_part_02 li {
  width:100%; height:auto;
  text-align: justify;
}

.content_part_02 li:first-child {
  font-size:1.5625rem; font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.6;
}

.content_part_02 li:nth-child(2), 
.content_part_02 li:nth-child(3), 
.content_part_02 li:nth-child(4),
.content_part_02 li:nth-child(5) {
  margin:auto;
  margin-top:0.9375rem; margin-left:0.625rem;
  line-height: 1.5;
  list-style:disc; 
  /* list-style-image: ; */
}

.content_part_02 li:nth-child(2) {
  margin-top:1.875rem;
}

.content_part_03 {
  margin-top: 6.25rem;
}

.content_part_03 .photo_03{
  background-image:url("../../../img/coffee_powder.jpg");
  background-size:130% auto;
}

/* #qualityBox ----------------------------- */

#qualityBox {
  width:100%; height:auto;
}


.qual_title_box {
  height:20rem;
  background-image:url("../../../img/coffee_plant.jpg");
  background-size:cover;
  background-position:50% 40%;
}

.qual_title_box .headline {
  color:#fff;
  font-weight: 400;
}

.qual_title_box p {
  width:100%; height:auto;
  margin-top:2.1875rem;
  color:#fff;
  font-size:0.9375rem;
  line-height: 1.6;
  text-align:center;
}
/* // .qual_title_box ---------------------------- */

.quality_area{
  width:100%; height:auto;
}

.qualarea_innerwrap {
  padding:4.375rem 1.875rem 8.75rem 1.875rem; box-sizing: border-box;
}

.quality_part {
  width:100%; height:auto;
  margin-top:3.125rem;
}
.quality_part:first-child { margin-top:0; }

.qual_mark {
  width:15.625rem; height:15.625rem;
  margin:auto;
  border-radius:15.625rem;
  background-color:#fff;
  background-repeat:no-repeat;
  background-size: 180% auto;
  background-position: 50% 50%;
}

.qual_mark_01 {
  background-image:url("../../../img/quality_mark_01.jpg");
  background-size: 170% auto;
  background-position: 50% 40%;
}
.qual_mark_02 {
  background-image:url("../../../img/quality_mark_02.jpg");
}
.qual_mark_03 {
  background-image:url("../../../img/quality_mark_03.jpg");
}
.qual_mark_04 {
  background-image:url("../../../img/quality_mark_04.jpg");
}
.qual_mark_05 {
  background-image:url("../../../img/quality_mark_05.jpg");
  background-size: 170% auto;
}
.qual_mark_06 {
  background-image:url("../../../img/quality_mark_06.jpg");
  background-size: 200% auto;
}


.qual_content {
  width:100%; height:auto;
}

.qual_content dl {
  width:100%; height:auto;
  margin:auto;
  margin-top: 1.25rem;
}

.qual_content dt {
  width:100%; height: auto;
  font-size:1.5625rem; font-weight: 600;
  text-align:center;
  text-transform: capitalize;
  line-height: 1.6;
}

.qual_content dd {
  width:88%; height:auto;
  margin: auto;
  margin-top:1.875rem;
  text-align: justify;
  line-height:1.5;
}

/* #footBox --------------------------------------- */

.footBox_innerwrap {
  padding:4.375rem 1.875rem; box-sizing: border-box;
}

}