/* project_001_illycoffee_sub_product_320.css */

@media screen and (max-width:767px) {
/* basic ------------------------------------------ */
.mob_none { display: none;}

.innerwrap {
  width: 100%; height: 100%;
}

/* #headBox --------------------------------------- */

.headBox_innerwrap {
  padding:25px 30px; box-sizing:border-box; 
}

/* #viewBox --------------------------------------------- */

#viewBox {
  width: 100%; height:auto;
  background-image: url("../../../img/ban_x1.jpg");
  background-repeat: no-repeat;
  background-size:auto 150%;
  background-position:70% 58%;
}

.viewBox_innerwrap {
  padding:80px 30px; box-sizing: border-box;
}

.viewBox_innerwrap h2 {
  font-size:48px; font-weight:500;
  color:#fff;
  text-align: left;
  line-height: 1.2;
}

.viewBox_innerwrap p {
  margin-top:40px;
  color:#fff;
}

/* #productBox ------------------------------------ */

#productBox {
  width:100%; height:auto;
  background-color:#fff;
}

.productBox_innerwrap {
  padding:50px 15px 110px; box-sizing: border-box;
}

.product_1st_bar {
  width:90%; height:62px;
  margin: auto; margin-bottom: 30px;
  border:1.5px solid #999; box-sizing: border-box;
  border-left:0; border-right:0;
}

.product_1st_bar p {
  float: left;
  width:40%; height: auto;
  margin-top:21px; margin-left: 10px;
  font-size: 15px;
  font-weight:500;
}

.product_1st_bar p span {
  color:#E30613;
}

.look_area {
  float: right;
  width:84px; height:100%;
}

.look_select { width:100%; height: 100%; }

.look_btn {
  width:100%; height:100%;
  padding:10px 10px 10px 13px; box-sizing:border-box;
  font-size:15px;
  text-align:left; 
  line-height: 1.2;
  background-color:#fff;
}

.look_arrow {
  float:right;
  width:14px; height: 10px;
  margin-top:5px;
  background-image:url("../../../icon/down_chevron.svg");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:50% 50%;
}


.look_list {
  width:100%; height:100%;
}

.look_list li {
  position:relative; z-index: 1;
  width:100%; height: 100%; 
}

.look_list li button {
  width: 100%; height: 100%;
  padding:10px 10px 10px 13px; box-sizing:border-box; 
  font-size: 15px;
  text-align: left;
  line-height: 0.7;
  background-color:#fff;
}

.look_list li button:hover {
  color:#fff;
  background-color:#d12420;
}


.product_area {
  width: 100%; height: auto;
}

.product_area ul {
  width:100%; height: auto;
}

.product_area > ul > li {
  float: left;
  width:50%; height: 60vw;
  min-height:320px;
  padding:14px 10px; 
  box-sizing: border-box;
}

.product_area ul>li:first-child{
  margin-left: 0;
}

.product_area a {
  display: block;
  width:100%; height: 100%;
  padding:14px 10px; box-sizing: border-box;
}

.product_area li .photo {
  width:83%; height: 35vw;
  margin: auto;
  background-image:url("../../../img/product_02.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.product_area dl {
  width:100%; height: auto;
  margin-top:30px;
  font-size:15px;
  font-weight: 500;
  text-align:left;
}

.product_area dt {
  width:100%; height: auto;
  font-weight: 700;
  line-height: 1.5;
  word-break:keep-all;
}

.product_area dd {
  width:100%; height: auto;
  margin-top: 20px;
}

.page {
  width: 100%; height: auto;
  margin-top: 50px;
}

.page ol {
  width: 132px; height: 100%;
  margin:auto;
}

.page li {
  float:left;
  width:auto; height: 22px;
  margin-left:16px;
}
.page li:first-of-type {
  margin-left:0;
}

.page li.act {
  font-weight: 600;
  color:#333;
  border-bottom:2px solid #434343;
}

.page a {
 font-size: 15px;
 color:#595959;
}

/* #footBox --------------------------------- */

.footBox_innerwrap {
  padding:70px 30px; box-sizing: border-box;
}

}


@media screen and (min-width:500px) and (max-width:767px){

.viewBox_innerwrap {
  padding:80px 50px;
}

.product_1st_bar p {
  margin-left: 20px;
}

.look_area {
  margin-right: 14px;
}
  
  .product_area > li {
    height: 55vw;
  }

  .product_area li .photo {
    width:75%; height: 35vw;
    margin-bottom: 16px;
  }

  .product_area dl {
    width:80%;
    margin:auto;
  }

}