/* project_001_illycoffee_sub_product_768.css */

@media screen and (min-width:768px) and (max-width:1279px) {
/* basic ------------------------------------------ */
.mob_none { display: none;}

.innerwrap {
  width: 100%; height: 100%;
}

/* #headBox --------------------------------------- */

#headBox {
  box-shadow: 0 0.625rem 1.25rem #777;
}

.headBox_innerwrap {
  padding:1.5625rem 6.25rem; box-sizing:border-box; 
}
 
/* #viewBox --------------------------------------------- */

#viewBox {
  width: 100%; height:auto;
  background-image: url("../../../img/ban_x1.jpg");
  background-repeat: no-repeat;
  background-size:auto 150%;
  background-position:70% 58%;
}

.viewBox_innerwrap {
  width:100%; height: 100%;
  padding:7.5rem 5.5rem; box-sizing: border-box;
}

.viewBox_innerwrap h2 {
  font-size:3.75rem; font-weight:500;
  color:#fff;
  text-align: left;
  line-height: 1.2;
}

.viewBox_innerwrap p {
  margin-top:2.5rem;
  color:#fff;
}

/* #productBox ------------------------------------ */

#productBox {
  width:100%; height:auto;
  background-color:#fff;
}

.productBox_innerwrap {
  padding:5.25rem 4.625rem 6.875rem; box-sizing: border-box;
}

.product_1st_bar {
  width:100%; height:3.875rem;
  margin: auto; margin-bottom: 0.625rem;
  border:0.0625rem solid #999; box-sizing: border-box;
  border-left:0; border-right:0;
}

.product_1st_bar p {
  float: left;
  width:40%; height: auto;
  margin-top:1.3125rem; margin-left: 0.875rem;
  font-size: 0.9375rem;
  font-weight:500;
}

.product_1st_bar p span {
  color:#E30613;
}

.look_area {
  float: right;
  width:5.25rem; height:100%;
}

.look_select { width:100%; height: 100%; }

.look_btn {
  width:100%; height:100%;
  padding:0.625rem 0.625rem 0.625rem 0.8125rem; box-sizing:border-box;
  font-size:0.9375rem;
  text-align:left; 
  line-height: 1.2;
  background-color:#fff;
}

.look_arrow {
  float:right;
  width:0.875rem; height: 0.625rem;
  margin-top:0.3125rem;
  background-image:url("../../../icon/down_chevron.svg");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:50% 50%;
}


.look_list {
  width:100%; height:100%;
}

.look_list li {
  position:relative; z-index: 1;
  width:100%; height: 100%; 
}

.look_list li button {
  width: 100%; height: 100%;
  padding:0.625rem 0.625rem 0.625rem 0.8125rem; box-sizing:border-box; 
  font-size: 0.9375rem;
  text-align: left;
  line-height: 0.7;
  background-color:#fff;
}

.look_list li button:hover {
  color:#fff;
  background-color:#d12420;
}


.product_area {
  width: 100%; height: auto;
}

.product_area ul {
  width:100%; height: auto;
}

.product_area > ul > li {
  float: left;
  width:33.333333%; height: 33vw;
  min-height: 20rem;
  margin-top: 0.875rem;
  padding:0.875rem 0.625rem; 
  box-sizing: border-box;
}

.product_area ul>li:first-child{
  margin-left: 0;
}

.product_area a {
  display: block;
  width:100%; height: 100%;
  padding:0.875rem 0.625rem; 
  /* border: 1px solid #ddd; */
  box-sizing: border-box;
}

.product_area li .photo {
  width:83%; height: 20vw;
  margin: auto;
  background-image:url("../../../img/product_02.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.product_area dl {
  width:80%; height: auto;
  margin:auto;
  margin-top:1.875rem;
  font-size:0.9375rem;
  font-weight: 500;
  text-align:left;
}

.product_area dt {
  width:100%; height: auto;
  font-weight: 700;
  line-height: 1.5;
  word-break:keep-all;
}

.product_area dd {
  width:100%; height: auto;
  margin-top: 1.25rem;
}

.page {
  width: 100%; height: auto;
  margin-top: 4.375rem;
}

.page ol {
  width: 8.25rem; height: 100%;
  margin:auto;
}

.page li {
  float:left;
  width:auto; height: 1.375rem;
  margin-left:1rem;
}
.page li:first-of-type {
  margin-left:0;
}

.page li.act {
  font-weight: 600;
  color:#333;
  border-bottom:0.125rem solid #434343;
}

.page a {
 font-size: 0.9375rem;
 color:#595959;
}

/* #footBox --------------------------------------- */

.footBox_innerwrap {
  padding:4.375rem 9.375rem; box-sizing: border-box;
}


}