/* project_001_illycoffee_sub_product_1600.css */

@media screen and (min-width:1600px) {
/* basic ------------------------------------------ */
.pc_none { display: none;}

.innerwrap {
  width: 1600px; height: 100%;
  margin:auto;
}

/* #headBox --------------------------------------- */

.headBox_innerwrap {
  padding:0 90px 0 150px; box-sizing:border-box; 
}

/* #viewBox --------------------------------------------- */

#viewBox {
  width: 100%; height:600px;
  background-image: url("../../../img/product_machine_bg.jpg");
  background-repeat: no-repeat;
  background-size:126% auto;
  background-position:0% 58%;
}

.viewBox_innerwrap {
  padding:130px 196px; box-sizing: border-box;
}

.viewBox_innerwrap h2 {
  font-size:70px; font-weight:500;
  color:#fff;
  text-align: left;
  line-height: 1.2;
}

.viewBox_innerwrap p {
  margin-top:60px;
  color:#fff;
}

/* #productBox ------------------------------------ */

#productBox {
  width:100%; height:auto;
  background-color:#fff;
}

.productBox_innerwrap {
  padding:90px 150px 110px 150px; box-sizing: border-box;
}

.product_1st_bar {
  width:100%; height:76px;
  padding:0 26px;
  border:1.5px solid #999; box-sizing: border-box;
  border-left:0; border-right:0;
}

.product_1st_bar p {
  float:left;
  margin-top:26px;
  font-weight:500;
}

.product_1st_bar p span {
  color:#E30613;
}

.product_1st_bar ul {
  float:right;
  width:auto; height: auto;
}

.product_1st_bar li {
  float:left;
  width: auto; height: auto;
  margin-top:20px; margin-left:22px;
}
.product_1st_bar li:first-child{
  margin-left: 0;
}

.product_1st_bar li button {
  width:auto; height: 32px;
  font-size:15px;
  padding:0;
}

.product_1st_bar li.act{ margin-top:21.2px; }
.product_1st_bar li.act button {
  color:#E30613;
  font-weight: 600;
  border-bottom: 2px solid #E30613;
}


.product_2nd_bar {
  width:100%; height:40px;
  margin:30px 0;
  padding:0 10px; box-sizing:border-box;
}

.align_area {
  float:left;
  width:134px; height:100%;
}

.select { width:100%; height: 100%; }

.align_btn {
  width:100%; height:100%;
  padding:10px 10px 10px 13px; box-sizing:border-box;
  border:1px solid #c2c2c2; box-sizing: border-box;
  font-size:15px;
  text-align:left; 
  line-height: 1.2;
  background-color:#fff;
}

.align_arrow {
  float:right;
  width:14px; height: 10px;
  margin-top:5px;
  background-image:url("../../../icon/down_chevron.svg");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:50% 50%;
}


.align_list {
  width:100%; height:100%;
}

.align_list li {
  position:relative; z-index: 1;
  width:100%; height: 100%; 
}

.align_list li button {
  width: 100%; height: 100%;
  padding:10px 10px 10px 13px; box-sizing:border-box; 
  font-size: 15px;
  text-align: left;
  line-height: 0.7;
  background-color:#fff;
}

.align_list li button:hover {
  color:#fff;
  background-color:#d12420;
}




.product_2nd_bar form {
  float:right;
  width: 218px; height: 40px;
}

.product_2nd_bar fieldset {
  width: 100%; height: 100%;
}

.search_area {
  width:100%; height: 100%;
}

.search_area dd {
  width: 100%; height: 100%;
  padding:5px 10px;
  border:1px solid #c2c2c2; box-sizing: border-box;
  /* background-color:#fff; */
}

#textSearch {
  width:85%; height: 100%;
  font-size: 13px;
}

input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

.search_btn {
  float:right;
  display:block;
  width:20px; height: 20px;
  margin-top:4px;
  background-image:url("../../../icon/search_byme_black.svg");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:50% 50%;
}

.product_area {
  width: 100%; height: auto;
  margin-top:38px;
}

.product_area ul {
  width:100%; height: auto;
}

.product_area > ul > li {
  float: left;
  width:248.8px; height: 380px;
  margin-top: 14px;
  margin-left: 14px;
  border:1px solid #ddd; box-sizing: border-box;
  background-color:#fff;
}

.product_area ul>li:first-child,
.product_area ul>li:nth-child(6n){
  margin-left: 0;
}

.product_area a {
  display: block;
  position:relative;
  width:100%; height: 100%;
  padding:26px 14px 14px 14px; box-sizing:border-box;
}

.product_area li .photo {
  width:170px; height: 170px;
  margin: auto;
  background-image:url("../../../img/product_02.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.product_area dl {
  width:100%; height: auto;
  margin-top:34px;
  font-size:17px;
  font-weight: 500;
  text-align:left;
}

.product_area dt {
  width:100%; height: auto;
  line-height: 1.5;
}

.product_area dd {
  width:100%; height: auto;
  margin-top: 26px;
}

.page {
  width: 100%; height: auto;
  margin-top: 60px;
}

.page ol {
  width: 134px; height: 100%;
  margin:auto;
}

.page li {
  float:left;
  width:auto; height: 22px;
  margin-left:16px;
}
.page li:first-of-type {
  margin-left:0;
}

.page li.act {
  font-weight: 600;
  color:#333;
  border-bottom:2px solid #434343;
}

.page a {
 font-size: 15px;
 color:#595959;
}

/* #footBox --------------------------------------- */

.footBox_innerwrap {
  padding:70px 150px; box-sizing: border-box;
}

}
