/* project_001_illycoffee_sub_btb_1600.css */

@media screen and (min-width:1600px) {

/* basic ------------------------------------------- */
.innerwrap{
  width:1600px; height: 100%;
  margin:auto;
}

/* #headBox --------------------------------------- */

#headBox {
  box-shadow: 0 10px 20px #666;
}
.headBox_innerwrap {
  padding:0 90px 0 220px; box-sizing:border-box; 
}

/* #viewBox --------------------------------------------- */

#viewBox {
  width:100%; height:710px;
  background-image: url("../../../img/btb_bg.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:50% 80%;
}

.viewBox_innerwrap {
  padding:210px 380px 0; box-sizing: border-box;
}

#viewBox .headline {
  color:#fff;
  font-weight: 500;
  font-size: 64px;
}

#viewBox p {
  margin-top:100px;
  color:#fff;
  text-align:center;
  line-height: 1.6;
}


/* #contentBox ------------------------------------ */

#contentBox {
  width:100%; height:auto;
  background-color:#fff;
}

.conBox_innerwrap {
  padding: 140px 100px 0; box-sizing:border-box;
}

.content {
  width:100%; height:600px;
  margin-bottom: 200px;
}

.photo {
  width:620px; height:600px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:50% 50%;
}

.content dl {
  width:530px; height:auto;
  margin-right: 70px;
}

.content dt {
  width:100%; height: auto;
  margin-bottom: 40px;
  font-size:28px; font-weight: 600;
}

.content dd:nth-of-type(1) {
  width:100%; height:auto;
  text-align: justify;
  line-height:1.6;
}

.content dd:nth-of-type(2) {
  width:160px; height: 44px;
  text-align: justify;
  margin-top:40px;
}

.content dd:nth-of-type(2) a {
  display:block;
  width:100%; height: 100%;
  background-color:#fff;
  border: 1.8px solid #595959;
  color:#333;
  font-size: 17px;
  text-align:center; 
  line-height: 2.5;
  transition:all 300ms ease;
}

.content dd:nth-of-type(2) a:hover {
  border:2.5px solid #d12420;
  color:#d12420;
  font-weight: 600;
  font-size: 18px;
  line-height: 2.4;
  transform: scale(1.05);
}

.content dd:nth-of-type(2) a:focus{
  outline:0;
  border:2px solid #d12420;
  background-color:#d12420;
  color:#fff;
  transform: scale(1.05);
}

.content_01 .photo_01 {
  float:left;
  background-image:url("../../../img/btb_coffee.jpg");
  background-position:60% 50%;
}
.content_01 dl {
  float:right;
  margin-top:100px;
}
.content_01 dt {
  text-transform :uppercase;
}

.content_02 .photo_02 {
  float:right;
  background-image: url("../../../img/coffee_bean2.jpg");
  background-position:50% 70%;
}
.content_02 dl {
  float:left;
  margin-top:76px; margin-left: 70px;
}

.content_03 .photo_03 {
  float:left;
  background-image:url("../../../img/coffee_machine.jpg");
}
.content_03 dl {
  float:right;
  margin-top:130px;
}

/* #partnerBox ------------------------------------ */

#partnerBox {
  position:relative;
  width:100%; height: 730px;
  background-image: url("../../../img/half_color_bg.jpg");
  background-repeat: no-repeat;
  background-size:160%;
  background-position:0 56%;
}

.partnerBox_innerwrap {
  width: 100%; height: 100%;
  padding:140px 0; box-sizing:border-box;
}

#partnerBox .headline {
  font-size: 64px;
  color:#fff;
  font-weight: 500;
}

.partner_photo {
  overflow:hidden;
  width:100%; height: 200px;
  margin-top: 90px;
}
.partner_photo ul {
  /* position:absolute; top:54%; left:0; right:0; */
  width:5616px; height:200px;
  /* transform:translateY(-50%); */
}
.partner_photo li {
  float:left;
  width:200px; height:200px;
  margin-right:16px;
  background-color:#333;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:50% 50%;
}
.partner_photo li.par_01 { background-image:url("../../../img/grang_intercontinental.jpg");    }
.partner_photo li.par_02 { background-image:url("../../../img/intercontinental.jpg");          }
.partner_photo li.par_03 { background-image:url("../../../img/fourseasons.jpg");               }
.partner_photo li.par_04 { background-image:url("../../../img/conrad.jpg");                    }
.partner_photo li.par_05 { background-image:url("../../../img/lemeridien.jpg");                }
.partner_photo li.par_06 { background-image:url("../../../img/kangwonland.jpg");               }
.partner_photo li.par_07 { background-image:url("../../../img/hanwha.jpg");                    }
.partner_photo li.par_08 { background-image:url("../../../img/lotte.jpg");                     }
.partner_photo li.par_09 { background-image:url("../../../img/thewestinchosun.jpg");           }
.partner_photo li.par_10 { background-image:url("../../../img/shilla.jpg");                    }
.partner_photo li.par_11 { background-image:url("../../../img/orakai.jpg");                    }
.partner_photo li.par_12 { background-image:url("../../../img/paradisecity.jpg");              }
.partner_photo li.par_13 { background-image:url("../../../img/hyundai.jpg");                   }
.partner_photo li.par_14 { background-image:url("../../../img/samsung.jpg");                   }
.partner_photo li.par_15 { background-image:url("../../../img/gucci.jpg");                     }
.partner_photo li.par_16 { background-image:url("../../../img/bvlgari.jpg");                   }
.partner_photo li.par_17 { background-image:url("../../../img/tiffany.jpg");                   }
.partner_photo li.par_18 { background-image:url("../../../img/ermenegildo_zegna.jpg");         }
.partner_photo li.par_19 { background-image:url("../../../img/haagen_dazs.jpg");               }
.partner_photo li.par_20 { background-image:url("../../../img/bmwkorea.jpg");                  }
.partner_photo li.par_21 { background-image:url("../../../img/volkswagen.jpg");                }
.partner_photo li.par_22 { background-image:url("../../../img/lg_signature.jpg");              }
.partner_photo li.par_23 { background-image:url("../../../img/british_american_tobacco.jpg");  }
.partner_photo li.par_24 { background-image:url("../../../img/devsisters.jpg");                }
.partner_photo li.par_25 { background-image:url("../../../img/namboo.jpg");                    }
.partner_photo li.par_26 { background-image:url("../../../img/curo.jpg");                      }


.button_area {
  width: 100%; height:auto;
}

#partnerBox button {
  position: absolute; z-index: 100;
  top:54%;
  width:50px; height:80px;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:50% 50%;
  transform: translateY(-50%);
}

.next_btn {
  right:50px;
  background-image:url("../../../icon/right_mobile_byme_white.svg");
}
.prev_btn {
  left:50px;
  /* left, right 값 주려면 둘다 쓰면 안됨 둘다 쓰려면 한쪽은 none이 아닌 auto;를 줌
  가운데 기준으로 배치할 때, margin:auto; 쓸 땐 left:0, right:0 */ 
  background-image:url("../../../icon/left_mobile_byme_white.svg");
}

/* #footBox --------------------------------------- */

.footBox_innerwrap {
  padding:70px 150px; box-sizing: border-box;
}


}