/* project_001_illycoffee_sub_btb_1280.css */

@media screen and (min-width:1280px) and (max-width:1599px) {

/* basic ------------------------------------------- */
.innerwrap{
  width:1280px; height: 100%;
  margin:auto;
}

/* #headBox --------------------------------------- */

.headBox_innerwrap {
  padding:0 90px 0 150px; box-sizing:border-box; 
}

/* #viewBox --------------------------------------------- */

#viewBox {
  width:100%; height:650px;
  background-image: url("../../../img/illy_for_offices_bg.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:50% 50%;
}

#viewBox .headline {
  color:#fff;
  font-weight: 500;
  font-size: 64px;
}

.viewBox_innerwrap {
  padding:210px 220px 0; box-sizing:border-box;
}

#viewBox p {
  margin-top:100px;
  color:#fff;
  text-align:center;
  line-height: 1.6;
}


/* #contentBox ------------------------------------ */

#contentBox {
  width:100%; height:auto;
  background-color:#fff;
}

.conBox_innerwrap {
  padding: 140px 60px 0; box-sizing:border-box;
}

.content {
  width:100%; height:500px;
  margin-bottom: 150px;
}

.photo {
  width:520px; height:500px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:50% 50%;
}

.content dl {
  width:510px; height:auto;
  margin-right: 20px;
}

.content dt {
  width:100%; height: auto;
  margin-bottom: 40px;
  font-size:28px; font-weight: 600;
}

.content dd:nth-of-type(1) {
  width:100%; height:auto;
  line-height:1.6;
}

.content dd:nth-of-type(2) {
  width:160px; height: 44px;
  margin-top:40px;
}

.content dd:nth-of-type(2) a {
  display:block;
  width:100%; height: 100%;
  background-color:#fff;
  border: 1.8px solid #595959;
  color:#333;
  font-size: 17px;
  text-align:center; 
  line-height: 2.5;
}

.content dd:nth-of-type(2) a:hover {
  border:2.5px solid #d12420;
  color:#d12420;
  box-shadow: 3px 5px 5px #c2c2c2;
  transition:all 300ms ease;
}

.content dd:nth-of-type(2) a:focus{
  outline:0;
  border:2px solid #d12420;
  background-color:#d12420;
  color:#fff;
  transition:all 300ms ease;
}

.content_01 .photo_01 {
  float:left;
  background-image:url("../../../img/btb_coffee.jpg");
  background-position:60% 50%;
}
.content_01 dl {
  float:right;
  margin-top:50px;
}
.content_01 dt {
  text-transform :uppercase;
}

.content_02 .photo_02 {
  float:right;
  background-image: url("../../../img/coffee_bean2.jpg");
  background-position:50% 70%;
}
.content_02 dl {
  float:left;
  margin-top:22px; margin-left: 20px;
}

.content_03 .photo_03 {
  float:left;
  background-image:url("../../../img/coffee_machine.jpg");
}
.content_03 dl {
  float:right;
  margin-top:80px;
}

/* #partnerBox ------------------------------------ */

#partnerBox {
  position:relative;
  width:100%; height: 730px;
  background-image: url("../../../img/half_color_bg.jpg");
  background-repeat: no-repeat;
  background-size:160%;
  background-position:0 56%;
}

.partnerBox_innerwrap {
  padding:140px 60px; box-sizing:border-box;
}

#partnerBox .headline {
  font-size: 64px;
  color:#fff;
  font-weight: 500;
}

.partner_photo {
  width:100%; height: auto;
}
.partner_photo ul {
  overflow:hidden;
  position:absolute; top:54%; left:0; right:0;
  width:1280px; height:200px;
  margin:auto;
  transform:translateY(-50%);
}
.partner_photo li {
  float:left;
  width:200px; height:200px;
  margin-left:16px;
  background-color:#333;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:50% 50%;
}
.partner_photo li:first-child {
  margin-left:0;
  background-image:url("../../../img/grang_intercontinental.jpg");
}
.partner_photo li:nth-child(2) {
  background-image:url("../../../img/intercontinental.jpg");
}
.partner_photo li:nth-child(3) {
  background-image:url("../../../img/fourseasons.jpg");
}
.partner_photo li:nth-child(4) {
  background-image:url("../../../img/conrad.jpg");
}
.partner_photo li:nth-child(5) {
  background-image:url("../../../img/lemeridien.jpg");
}
.partner_photo li:nth-child(6) {
  background-image:url("../../../img/lotte.jpg");
}


.button_area {
  position: absolute; 
  top:54%; left:0; right:0;
  width: 96%; height:auto;
  margin:auto;
  transform: translateY(-50%);
}

#partnerBox button {
  width:50px; height:80px;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:50% 50%;
}

.next_btn {
  float:right;
  background-image:url("../../../icon/right_mobile_byme_white.svg");
}
.prev_btn {
  float:left;
  background-image:url("../../../icon/left_mobile_byme_white.svg");
}

/* #footBox --------------------------------------- */

.footBox_innerwrap {
  padding:70px 150px; box-sizing: border-box;
}

}