/* project_001_illycoffee_sub_btb_768.css */

@media screen and (min-width:768px) and (max-width:1279px) {
/* basic ------------------------------------------ */
.mob_none { display: none;}

.innerwrap {
  width: 100%; height: 100%;
}

/* #headBox --------------------------------------- */
#headBox {
  box-shadow: 0 0.625rem 1.25rem #666;
}
.headBox_innerwrap {
  padding:1.5625rem 1.875rem; box-sizing:border-box; 
}

/* #viewBox --------------------------------------------- */

#viewBox {
  width:100%; height:auto;
  background-image: url("../../../img/btb_bg.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:50% 80%;
}

.viewBox_innerwrap {
  padding:7.5rem 5.5rem; box-sizing: border-box;
}

.viewBox_innerwrap .headline {
  color:#fff;
  font-weight: 500;
}

.viewBox_innerwrap p {
  margin-top:3.125rem;
  color:#fff;
  text-align:center;
  line-height: 1.6;
  word-break: keep-all;
}


/* #contentBox ------------------------------------ */

#contentBox {
  width:100%; height:auto;
  background-color:#fff;
}

.conBox_innerwrap {
  padding:4.375rem 1.875rem 8.75rem 1.875rem; box-sizing: border-box;
}

.content {
  width:100%; height:auto;
  margin-bottom: 6.25rem;
}

.content .photo {
  width:70%; height:60vw;
  margin:auto;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:50% 50%;
}

.content dl {
  width:70%; height:auto;
  margin: auto;
  margin-top: 2.5rem;
}

.content dt {
  width:100%; height: auto;
  font-size:1.75rem; font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.6;
}

.content dd:nth-of-type(1) {
  width:100%; height: auto;
  margin:auto;
  margin-top:1.875rem;
  text-align:justify;
  line-height: 1.5;
}

.content dd:nth-of-type(2) {
  width:10rem; height: 2.75rem;
  margin:auto;
  margin-top:3.125rem;
}

.content dd:nth-of-type(2) a {
  display:block;
  width:100%; height: 100%;
  background-color:#fff;
  border: 0.0625rem solid #595959;
  color:#333;
  font-size: 1.0625rem;
  text-align:center; 
  line-height: 2.5;
  transition:all 300ms ease;
}

.content dd:nth-of-type(2) a:hover {
  border:2px solid #d12420;
  color:#d12420;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 2.3;
  transform: scale(1.05);
}

.content dd:nth-of-type(2) a:focus{
  outline:0;
  border:0.125rem solid #d12420;
  background-color:#d12420;
  color:#fff;
  transform: scale(1.05);
}

.content_01 .photo_01 {
  background-image:url("../../../img/btb_coffee.jpg");
  background-position:60% 50%;
}

.content_01 dt {
  text-transform :uppercase;
}

.content_02 .photo_02 {
  background-image: url("../../../img/coffee_bean2.jpg");
  background-position:50% 70%;
}

.content_03{
  margin-bottom: 0;
}

.content_03 .photo_03 {
  background-image:url("../../../img/coffee_machine.jpg");
}


/* #partnerBox ------------------------------------ */

#partnerBox {
  width:100%; height: auto;
}

/* .partnerBox_innerwrap {
  padding:70px 30px 100px; box-sizing: border-box;
} */

.partner_photo {
  width:100%; height: auto;
}
.partner_photo ul {
  width: 90vw; height: auto;
  margin: auto; margin-bottom: 6.25rem;
}
.partner_photo li {
  float: left;
  width:33.333333%; height:33.333333vw;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:50% 50%;
}

.partner_photo li:nth-child(2n){
  border-left:0;
}

.partner_photo li.par_01 { margin-top: 20px; background-image:url("../../../img/grang_intercontinental.jpg");    }
.partner_photo li.par_02 { margin-top: 20px; background-image:url("../../../img/intercontinental.jpg");          }
.partner_photo li.par_03 { margin-top: 20px; background-image:url("../../../img/fourseasons.jpg");               }
.partner_photo li.par_04 { background-image:url("../../../img/conrad.jpg");                    }
.partner_photo li.par_05 { background-image:url("../../../img/lemeridien.jpg");                }
.partner_photo li.par_06 { background-image:url("../../../img/kangwonland.jpg");               }
.partner_photo li.par_07 { background-image:url("../../../img/hanwha.jpg");                    }
.partner_photo li.par_08 { background-image:url("../../../img/lotte.jpg");                     }
.partner_photo li.par_09 { background-image:url("../../../img/thewestinchosun.jpg");           }
.partner_photo li.par_10 { background-image:url("../../../img/shilla.jpg");                    }
.partner_photo li.par_11 { background-image:url("../../../img/orakai.jpg");                    }
.partner_photo li.par_12 { background-image:url("../../../img/paradisecity.jpg");              }
.partner_photo li.par_13 { background-image:url("../../../img/hyundai.jpg");                   }
.partner_photo li.par_14 { background-image:url("../../../img/samsung.jpg");                   }
.partner_photo li.par_15 { background-image:url("../../../img/gucci.jpg");                     }
.partner_photo li.par_16 { background-image:url("../../../img/bvlgari.jpg");                   }
.partner_photo li.par_17 { background-image:url("../../../img/tiffany.jpg");                   }
.partner_photo li.par_18 { background-image:url("../../../img/ermenegildo_zegna.jpg");         }
.partner_photo li.par_19 { background-image:url("../../../img/haagen_dazs.jpg");               }
.partner_photo li.par_20 { background-image:url("../../../img/bmwkorea.jpg");                  }
.partner_photo li.par_21 { background-image:url("../../../img/volkswagen.jpg");                }
.partner_photo li.par_22 { background-image:url("../../../img/lg_signature.jpg");              }
.partner_photo li.par_23 { background-image:url("../../../img/british_american_tobacco.jpg");  }
.partner_photo li.par_24 { background-image:url("../../../img/devsisters.jpg");                }
.partner_photo li.par_25 { background-image:url("../../../img/namboo.jpg");                    }
.partner_photo li.par_26 { background-image:url("../../../img/curo.jpg");                      }


/* #footBox --------------------------------------- */

.footBox_innerwrap {
  padding:4.375rem 1.875rem; box-sizing: border-box;
}

}