/* project_001_illycoffee_sub_login.css */

  @import url("../common/basic.css");
  @import url("../common/header.css");
  @import url("../common/footer.css");

  @media screen and (max-width:767px) {
    .innerwrap { width: 100%; height: 100%; }

    .headBox_innerwrap {
      padding:1.5625rem 1.875rem; box-sizing:border-box; 
    }

    .footBox_innerwrap {
      padding:4.375rem 1.875rem; box-sizing: border-box;
    }

  }

  @media screen and (min-width:768px) and (max-width:1279px) {
    .innerwrap { width: 100%; height: 100%; }

    .headBox_innerwrap {
      padding:25px 100px;
      padding:1.5625rem 6.25rem;
      box-sizing:border-box;
    }
   
    .gnb_box { width: 70%; height:100vh;}
  
    .unb_box {
      margin-top:6px; margin-right: 12px;
      margin-top:0.375rem; margin-right: 0.75rem;
    } 
  
    .unb_box li {
      margin-right: 22px;
      margin-right: 1.375rem;
    }
    /* -------------------------------------------- */

    .footBox_innerwrap {
      padding:70px 30px;
      padding:4.375rem 1.875rem;
      box-sizing: border-box;
    }

  }

 @media screen and (min-width:1280px) and (max-width:1599px) {
  .innerwrap {
    width: 1280px; height: 100%;
    margin:auto;
  } 

  .headBox_innerwrap {
    padding:0 90px 0 150px; box-sizing:border-box; 
  }

  .footBox_innerwrap {
    padding:70px 150px; box-sizing: border-box;
  }

 } 

 @media screen and (min-width:1600px) {
  .innerwrap {
    width: 1600px; height: 100%;
    margin:auto;
  } 

  .headBox_innerwrap {
    padding:0 90px 0 220px; box-sizing:border-box; 
  }

  .footBox_innerwrap {
    padding:70px 220px; box-sizing: border-box;
  }

 }

/* #loginBox -------------------------------------------- */

#loginBox {
  width:100%; height:auto;
}

.loginBox_innerwrap {
  padding:90px 0 150px;
  padding:5.625rem 0 9.375rem;
  box-sizing:border-box; 
}

.loginBox_innerwrap form {
  width:260px;
  width:16.25rem;
  height: auto;
  margin:auto;
}

.loginBox_innerwrap fieldset {
  width: 100%; height: auto;
} 

.loginBox_innerwrap fieldset:nth-child(1) {
  border-bottom: 1px solid #ddd;
  border-bottom: 0.0625rem solid #ddd;
}

.loginBox_innerwrap h3 {
  width:100%; height: auto;
  margin-bottom:36px;
  margin-bottom:2.25rem;
  font-weight: 600;
  text-align: center;
}

.loginBox_innerwrap div {
  width:100%; height: auto;
}

.loginBox_innerwrap input {
  width:100%; height: 44px;
  height: 2.75rem;
  padding:12px 4px 12px 4px;
  padding:0.75rem 0.25rem 0.75rem 0.25rem;
  box-sizing:border-box;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  border:1px solid #ddd;
  border:0.0625rem solid #ddd;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:15px; font-weight: inherit;
  font-size:0.9375rem;
  /* input, button 폰트 안먹어서 font-family, font-weight 직접 설정해야함
  그래서 reset.css에서 설정해줌  */
}

.loginBox_innerwrap button {
  width:100%; height: 44px;
  height: 2.75rem;
  padding:0;
  color:#fff;
  background-color:#d12420;
}

.loginBox_other_btn {
  width: 100%; height: auto;
  margin-top:20px; margin-bottom: 40px;
  margin-top:1.25rem; margin-bottom: 2.5rem;
}

.auto_login_wrap {
  width:100%;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.auto_login_wrap input {
  float:left;
  width:15px; height: 15px;
  width:0.9375rem; height: 0.9375rem;
  margin-top: 2px; margin-right:6px; margin-bottom: 0;
  margin-top: 0.125rem; margin-right:0.375rem; margin-bottom: 0;
  border:1px solid #595959;
  border:0.0625rem solid #595959;
}

.auto_login_wrap label {
  float:left;
  width:40%;
  font-size:13px;
  font-size:0.8125rem;
  line-height: 1.4;
}

.easy_login, .join, .pw_find {
  display:block;
  height: 16px;
  height: 1rem;
  font-size:13px; 
  font-size:0.8125rem; 
  color:#434343;
}

.easy_login {
  float:left;
  width:60px; margin-right: 32px;
  width:3.75rem; margin-right: 2rem;
  color:#d12420;
}

.join {
  float:right;
  width:50px;
  width:3.125rem;
}

.pw_find { 
  float:right;
  position:relative;
  width:76px;  margin-right: 15px;
  width:4.75rem;  margin-right: 0.9375rem;
}

.pw_find:after,.pw_find::after {
  content:""; display: block;
  position:absolute; top:10%; right:-8px;
  right:-0.5rem;
  width:1px; height: 70%; transform:translate(-50%);
  width:0.0625rem;
  background-color:#999;
}

.order_area {
  margin-top:40px;
  margin-top:2.5rem;
}

.order_find {
  margin-top:30px; 
  margin-top:1.875rem; 
  font-size:13px;
  font-size:0.8125rem;
  color:#595959;
  line-height: 1.3;
}
